[2014-02-24 23:42] tomalec opened #5 "Paths conflict for static content."
When running multiple apps, which uses same path for their static content, for example _(appName)_`/css/style.css`. After merging html output same `/css/style.css` is used for all of them, but only one is being served. So other apps cannot use their own resources

[2014-03-11 09:49] tomalec opened #9 "Apps does not have isolated access to static content"
In one app I have created [`/Apps/dummyCRM/Client/person.html`](https://github.com/Polyjuice/Launcher/blob/dc6f002b869133fc633d7f5e1f64f3a1373d4392/Apps/dummyCRM/Client/person.html), and access it (in [Master.json.cs](https://github.com/Polyjuice/Launcher/blob/dc6f002b869133fc633d7f5e1f64f3a1373d4392/Apps/dummyCRM/Server/Master.json.cs#L25)) via `/person.html`, but then in different app `/Apps/Sky

[2014-04-01 21:55] tomalec opened #14 "Noise app should be able to respond to any request"
It seems wildcards in URL Handler behaves incorrectly in case of `{?}/{?}` or `{?}` if selected part may contain `/`

Check [NoiseApp](https://github.com/Polyjuice/Launcher/tree/NoiseApp) branch

[2014-04-24 07:17] warpech opened #16 "Decide what to do with filter"
Decide what to do with filter:

![image](https://cloud.githubusercontent.com/assets/2656996/2788569/657091cc-cb9d-11e3-8fff-57d2ef64865e.png)

 - if we keep it
   - style it (Anders)
   - make it functional (Marcin)
 - if we don’t keep it, remove it from the template (Anders)

[2014-04-24 07:23] warpech opened #33 "Automatic virtual groups for package.js based on apps, templates, runs"
Automatic virtual groups for package.js based on apps, templates, runs

This is not required for the demo.

[2014-04-29 09:06] warpech opened #37 "Elements should be added as level 3"
Currently elements are added to "root" group by default.

I think it should go further and actually elements should be added as level 3 group:

- "rootMargin" group with gap 24 -- for wide margin around whole workspace
  - "root" group with gap 16 -- for space between actual root elements
    - element0
    - element1
    - element2

[2014-04-30 06:49] warpech opened #39 "Responsive grid layout - JSON structure"
To achieve responsive grid layout (different grid configuration for different viewport sizes), we may consider saving configuration per user-controllable constraints (aka "responsive design breakpoints")

[2014-04-30 07:13] warpech opened #40 "<juicy-tile-list> should be implicit for all partials"
This is a generic solution for managing order of items in the top bar, menu pane, dashboard, workspaces, etc and also a solution for #22:

`<juicy-tile-list>` should be implicit for root elements of any partial.

Regarding #30 - grouping is to be done on partial level. Moving elements between groups is only possible within the same partial (so moving a menu item into the workspace will not be poss

[2014-05-09 10:25] tomalec opened #51 "Alternative playful Launcher"
Write new Launcher to play Space Invaders with application tiles.

[2014-05-23 13:28] warpech opened #53 "Input background should be transparent by default"
For elements that appear in the workspaces, the text input, textarea background should be transparent unless app designer implicitly sets otherwise

[2014-06-01 12:16] Starcounter-Jack opened #56 "Increment/decrement buttons"
Let's try the default value of increments of 4. I.e.

[code]

[2014-06-01 12:23] Starcounter-Jack opened #57 "Element tree and element identifiers"
## Element identifiers

Each element (HTML element or container) should have a friendly name as a identifier. The purpose is to make it simpler to navigate the tree. The identifier should be editable by the user.
## Default identifier

Let's implement an ID generator that generates a pleasant default name of each element. The ID should be unique within its template. One idea to generate an ID is u

[2014-06-01 12:28] Starcounter-Jack opened #58 "Moving the tree navigator"
We need some way to move the navigator around when it is blocking the view

[2014-06-01 12:30] Starcounter-Jack opened #59 "Drag and drop in tree control"
To parent or unparent an element in the tree view the logical thing would be drag and drop.

[2014-06-01 12:35] Starcounter-Jack opened #60 "Default gaps are set to zero"
By default, the gaps should be set to a value smaller than the higher gap in the hierarchy.
I have not visually tried the default values below, but let's start there.

[code]

[2014-06-01 14:09] Starcounter-Jack opened #70 "[Layout Editor] Discussion points"
Two properties to consider for our packery algorith.
1. Take-up-the-rest-of-the-width-available-given-that-it-is-at-least-xxx-pixels.
2. Align children to right or bottom

[2014-06-01 14:10] Starcounter-Jack opened #71 "Menu pane and filter pane should be collapsible"
Filter pane should not be visible by default

[2014-06-01 14:17] Starcounter-Jack opened #73 "Separate launch pad"
We've been discussing if we should have the dashboard (tiles) and launchpad (icons) as two separate things. After giving it some thought, I think it should be done.

## Motivation for a separate launchpad

There is great freedom for application to put whatever they want in the dashboard. But this freedom is not positive if the user wishes to remove or administer his/her applications. I.e. an appli

[2014-06-01 15:20] Starcounter-Jack opened #75 "[Layout Editor] Custom CSS"
It would be nice to have an edit box for styles for each selected element. I.e. without the need for a selector.

[code]

Also it would be nice to be able to turn the parent element into a real DOM element to provide custom CSS.

[2014-06-02 15:02] tomalec opened #81 "Create breakpoints picker/slider"
We can create new `juicy-` web component, to pick media-query breakpoint for `juicy-tiles` configuration that would look similar to
![Adobe one](http://html.adobe.com/_/img/edge/reflow/edge_reflow_feature-sm_visualmediaqueries.png)

[2014-07-07 12:34] warpech opened #83 "Launcher editor overlay causes high CPU usage"
When I open the editor in the Launcher, the CPU usage gets high.

I think this is connected with https://github.com/juicy/juicy-highlight, which redraws SVG on requestAnimationFrame

[2014-07-07 12:48] warpech opened #84 "Static-openstreetmap high CPU usage"
Similarily to #83, `<static-openstreetmap>` is using requestAnimationFrame to detect size changes. It should be done in less invasive way.

Possible solution: https://github.com/juicy/juicy-tile-list/issue/6

[2014-07-10 07:49] tomalec opened #85 "Grouping tiles from different `<juicy-tile-list>`s should be blocked"

[2014-07-17 10:57] tomalec opened #86 "How to store and serve configuration (layout, and other meta) for tiles, that may be added and removed (filter)?"
In regards of #16, #39, and #78 we need to decide where, and how to store `<juicy-tile-list>` configuration. It would be also nice to keeps other meta data for future stuff.

Problems to address:
1. Tiles may appear or disappear according to filter (#16),
2. Tiles may be added or removed by app developer,
3. We plan to give opportunity to prepare different layouts according to responsive design br

[2014-08-25 08:47] andwah opened #87 "Uncaught Possible attempt to load Polymer twice"
I have an app that use an element ```core-ajax``` that was installed with bower.

***Web component code:***
[code]

When navigate to the launcher i get this error

***Browser console output window:***
[code]

[2014-09-03 14:49] tomalec opened #88 "Should Launcher be aware of sign in app?"
After discussing with @andwah on Hangouts we decided to keep it tracked somewhere here.

It started with an idea of making a full page login/signup form like [one from Google](https://accounts.google.com/AddSession) to which user will be redirected in case he tried to access forbidden URL.

Currently we agreed that any app in case of attempt to access to forbidden resources, instead of returning

[2014-09-16 09:46] warpech opened #89 "Create Launchpad"
As discussed yesterday with @Starcounter-Jack and @tomalec, we should introduce a **Launchpad** to the Launcher.

After the change, there will be:
- [x] `/launcher/launchpad` - very strict (icon and text title). Visible after clicking on the Home button. Shows only icons and app titles (very minimalist)
- [x] `/launcher/dashboard` - quite free form (smallish but free tiles). Available as the first

[2014-09-16 16:10] tomalec opened #90 "Way to identify mergeable page/partial vs standalone"
Currently we identify whether to merge responses or not by checking if response has `GetHtmlPartialUrl` method ([/Server/Launcher.json.cs#L78](https://github.com/Polyjuice/Launcher/blob/master/Server/Launcher.json.cs#L78)
I wonder if it is the best way to do so, as I believe that someone would like to return a JSON without such method, and personally I does not find adding such method intuitive, a

[2014-10-20 09:23] andwah opened #94 "Exception When clicking an element during layout editing"
I have the Launcher, SignInApp and UserAdminApp running.
I click "System User Groups" in the left menu. and i click on a system user group.

 then i click the "gear" icon and click on the "Close" button element.

[code]

[2014-11-05 00:23] tomalec opened #96 "Map app breaks layout and performance when used withing adaptive tile"
It seems that `<open-streetmap>` workaround for Element#resize event keeps element grow and grow endlessly

Seems to be same reason as
https://github.com/Juicy/juicy-tile-list/issues/6

[2014-12-17 11:38] warpech opened #98 "Change default width of elements to auto"
The layout elements which are not manually resized should have the horizontal dimension defined as `widthAuto: true` -- so that the tile width is the same as the element's intrinsic width.

Discussed with @Starcounter-Jack and @tomalec on Monday

[2014-12-17 11:38] warpech opened #99 "Load layouts as CSS until layout editor is brought on screen"
Layouts should be saved in both JSON and CSS format. The CSS format should be used for rendering by default.

Discussed with @Starcounter-Jack and @tomalec on Monday

[2014-12-17 11:42] warpech opened #100 "juicy-tile-grid should be loaded on-demand"
Dependent on #99

Once we use stored CSS to display layouts, we can load `juicy-tile-grid` (including `packer.js`, etc) only when there are layout elements missing in CSS.

Discussed with @Starcounter-Jack and @tomalec on Monday

[2014-12-17 11:46] warpech opened #101 "juicy-tile-editor should be loaded on-demand"
Dependent on #101

`juicy-tile-editor` should be loaded only when requested in UI.

Discussed with @Starcounter-Jack and @tomalec on Monday

[2014-12-17 12:00] warpech opened #102 "Matrix matching of layouts"
The layouts should be stored in db based on a key, not based on the exact URL. The order of applications should not matter.

**Matching of layouts**
When there is layout saved for 3 out of 4 apps on the screen, the already made layout for the 3 apps should be used while the layout for the 4th app should be generated on-the-fly.

**Merging layout definitions from suites**
Suites will come as sets o

[2015-02-03 16:31] warpech opened #103 "Allow editing of merged template HTML"
As discussed today with @Starcounter-Jack

It would be nice if the HTML resulting from `/polyjuice-merger` would be hackable so that I can edit it and provide my own version of it (so that I can add my own stuff to the templates on the fly, or test new concepts without touching the file system).

Whether it should be stored on server is a different thing. LocalStorage may be fine for the beginning

[2015-03-09 11:41] warpech opened #104 "Move client static files to "namespaced" subdirectory"
Move all client static files (apart from `Client/sys/`) to `Client/Launcher/`

[2015-03-09 12:04] warpech opened #105 "Temporarily disable element queries"
Currently we don't have a good solution to using element queries. There is [css-element-queries](https://github.com/marcj/css-element-queries) loaded in Launcher but it is not used by any app.

Element queries shims should be imported by apps, not by Launcher, so I think it needs to be removed from Launcher anyway.

Future considerations for element queries:
- https://github.com/marcj/css-element-

[2015-03-09 12:32] warpech opened #106 "Add end-to-end test with Selenium"
We discussed end-to-end test with @parherman and the idea for simple end to end test is:

1. In each application repo (Launcher for beginning), create a `test` subdirectory.
2. Inside, create a Node script that tests with Selenium, whether:
  - root `text/html` request results in expected response
  - root `application/json` request results in expected response
  - /_db/<SessionID> `application/js

[2015-03-09 12:33] #105 closed

[2015-03-10 07:42] parherman commented on #106
I have added initial tests for Launcher in commit 0e691789e2845fe19e11004e0e18d0c6ca21a9dc

[2015-03-10 16:25] warpech commented on #89
Closing, as Launchpad is already created

[2015-03-10 16:25] #89 closed

[2015-03-10 16:25] warpech commented on #73
Closing, as Launchpad is already created

[2015-03-10 16:25] #73 closed

[2015-03-10 16:27] warpech opened #107 "Hiding elements bug"
Currently, hiding elements in layout editor is not immediately visible on screen. You need to make another change in editor toolbar to have layout refreshed.

[2015-03-18 15:46] miyconst opened #108 "Unable to delete Inner HTML value"
After I add some Inner HTML value I can't remove it.
To remove the value I have to add a space and save it like this.

[2015-03-19 11:21] tomalec commented on #108
From what I have tested you do not have to add space, just clicking or pressing any key on this fild should also work.
So the reason seems to be the fact that onclick handler is not called when delete or backspace is pressed on selection.

[2015-03-19 11:56] miyconst commented on #108
Yes, "click" into the field somehow works for me.

[2015-03-19 13:52] tomalec commented on #57
Since https://github.com/Polyjuice/Launcher/commit/cc33c1ce724e0704c1bce64cc618e3a6cf21f762  we  are able to identify nodes like : `AppNameSpace/index` so currently we do use it as a fallback identifier if we fail to read something from the content.

In general since https://github.com/Juicy/juicy-tile-list/commit/34c8964e9b1a3898002ef0486fbe498d0e999039 tiles (those in Shadow DOM) does have id at

[2015-03-19 15:42] #108 closed

[2015-03-30 10:10] warpech commented on #107
Done

[2015-03-30 10:10] #107 closed

[2015-03-30 10:11] warpech commented on #104
@tomalec could you take this?

[2015-03-31 11:19] warpech commented on #104
After this change, I started to see 404 requests in Chrome Console: http://localhost:8080/Launcher/sys/polymer/polymer.html

could you please check?

[2015-03-31 12:16] #104 closed

[2015-04-03 14:27] warpech opened #109 "Remove /launcher/workspace handlers"
The `/launcher/workspace` handlers in https://github.com/Polyjuice/Polyjuice/blob/master/src/LauncherHelper.cs appear to be not used anymore. Please verify that and remove them.

[2015-04-03 14:34] warpech opened #110 "Workspaces should not be case sensitive"
As discussed today on Skype between me and @miyconst, the middleware delegate function in https://github.com/Polyjuice/Polyjuice/blob/master/src/LauncherHelper.cs searches for existing workspace in case sensitive manner:

[code]

So if application morphs from page: `/signIn/somepage` to `/signin/otherpage`, the response creates a new workspace instead of using the existing page.

The check should

[2015-04-03 20:13] miyconst commented on #110
@warpech I have created the test, but it requires Launcher & SignIn apps running together.
Is there any way I could use appName without any real app running?

[2015-04-03 22:51] warpech commented on #110
`appName` (and workspaces) is a feature of Launcher, so it can only be tested with Launcher and some app.

[2015-04-03 22:55] warpech commented on #110
@parherman could you make SignIn app start with the test so it can pass?

[2015-04-04 07:19] parherman commented on #110
Added! It builds before launcher

[2015-04-05 10:09] miyconst commented on #110
@warpech, @parherman the test won't work with the master branch of SignIn app.
 I will uncomment the test when the cookie-rework branch merged with master.

[2015-04-08 13:21] miyconst opened #111 "Remove old styles, use bootstrap from /sys/"
https://github.com/Polyjuice/Polyjuice/issues/29#issuecomment-90627917

[2015-04-10 17:34] miyconst commented on #110
The test has been uncommented and successfully passed.

[2015-04-10 17:34] #110 closed

[2015-04-13 12:45] warpech commented on #9
This is solved by putting all static files into a subdirectory with the same name as the app name (e.g. `/dummycrm/person.html`, `/skyper/person.html`).

Closing the issue and deleting the `issue-9` branch.

[2015-04-13 12:45] #9 closed

[2015-04-15 18:34] parherman opened #112 "Error 404: File /launcher/launchertemplate.html. not found"
When I build with:

And then do:

I get:

When I go to http://localhost:8080/

[2015-04-15 19:08] warpech commented on #112
Maybe that is because "bin" is not a sibling directory of "wwwroot" anymore?

cc @alemoi

[2015-04-15 20:41] alemoi commented on #112
Haha, that's correct! Do you remember when we talked that wwwroot should be a sibling of bin, we simply forgot about it. Let's talk tomorrow how it should be.

[2015-04-16 08:10] alemoi commented on #112
As a workaround now, I can add one more lookup path for wwwroot during bootstrap.

[2015-04-16 08:24] warpech commented on #112
I think it's fine... Will you deduct the path to `..\..\src\<project name>\wwwroot` from the executable filename?

[2015-04-21 12:26] tomalec opened #113 "juicy-tile-editor hide button does not work if other juicy-tile-list's tile is selected in tree view"

[2015-04-21 16:41] #113 closed

[2015-04-21 23:04] tomalec opened #114 "Implement Partials and Layouts as described in wiki"
This is an umbrella issue, for all issues related to lack of consistent partials and layouts implementation.

Complete specification is described at wiki:

 - [ ] [Partials](https://github.com/Polyjuice/Launcher/wiki/Partials)
  - [ ] [PartialId](https://github.com/Polyjuice/Launcher/wiki/Layout-setup#partial-identifier) - [minimal/required implementation](https://github.com/Polyjuice/Launcher/wik

[2015-04-28 07:39] #111 closed

[2015-04-28 07:40] miyconst commented on #109
@warpech it seems like you already did this. Could you please close the issue if so?

[2015-04-28 07:41] warpech commented on #109
Sure

[2015-04-28 07:41] #109 closed

[2015-04-28 07:53] miyconst commented on #98
Seems like the issue related to https://github.com/Polyjuice/Polyjuice/issues/39

[2015-04-28 08:42] miyconst opened #115 "Layout editor: collapse all groups by default"
All editor groups should be collapsed by default.

[2015-04-28 08:43] miyconst opened #116 "Layout editor: expand group of selected element only"
Selecting an element should expand only the group which contains the element, and other collapsed groups should stay collapsed.

[2015-04-28 08:44] tomalec commented on #98
In fact it was done long ago.
So that every element without a setup entry will get `widthAuto: true`, it does not affect creating new groups.

[2015-04-28 08:44] miyconst commented on #98
Then close the issue, please.

[2015-04-28 08:46] #98 closed

[2015-04-28 08:55] miyconst opened #117 "Layout editor: add hot keys"
Short cut keys might be useful.

- [ ] `Shift + G` - group selected elements
- [ ] `Shift + U` - ungroup selected groups
- [ ] `Shift + D` - delete styles for selected elements
- [ ] `Shift + O` - expand all groups
- [ ] `Shift + L` - collapse all groups
- [ ] `Shift + S` - save changes

[2015-04-28 09:25] miyconst opened #118 "Layout editor: scroll page to selected element"
Sidebar tree scrolls itself when an html element selected, but the page should also be scrolled when a tree item selected.

[2015-04-28 09:30] miyconst opened #119 "Layout editor: shorten default names"
Default group names should be shorten somehow to remove horizontal scroll bar, for example: `/Products/viewmodels/EditProductPage.html` may be `EditProductPage.html`, `/Launcher/workspaces/products` may be `products`.

[2015-04-28 09:33] miyconst opened #120 "Layout editor: increase top panel buttons size"
Not very important, but would be nice to increase top panel buttons and text size, make text more readable.

There are some free space in the top panel, so the overall size of the panel should not be increased.

[2015-04-28 09:35] miyconst opened #121 "Layout editor: add hot key to open/close editor"
`Ctrl + ~` works perfect for SDA, something similar should be made for layout editor.

[2015-04-28 09:36] miyconst opened #122 "Layout editor: add history buttons"
Might need a lot of work, but it would be nice to add `<-` and `->` buttons to navigate through changes.

[2015-04-28 09:38] miyconst opened #123 "Layout editor: automatically select root element on open"
Layout editor should automatically select root group instead of showing empty sidebar when opened.

[2015-04-28 09:40] miyconst opened #124 "Layout editor: add button unhide all"
Sometimes I hide an element on a page and then could not figure out what should I unhide to see the element again.

A button `unhide all` would be useful.

[2015-04-28 09:45] miyconst opened #125 "Layout editor: display actual group id instead of user friendly name"
I would prefer to see actual group/element ids in the sidebar instead of user friendly name. This would make raw json editing more simple.

The ids may be automatically set to user friendly name though.

[2015-04-29 08:45] tomalec commented on #123
By 'root group', do you mean 'the first juicy-tile-list (or -grid) that is in highest position in DOM tree`?
So in fact, this should be the first element of [reducedInductedSpanningTree](https://github.com/Juicy/juicy-tile-editor/blob/gh-pages/src/juicy-tile-editor.js#L14): `juicy-tile-editor.tree[0]`

This is duplicate of https://github.com/Juicy/juicy-tile-editor/issues/37

[2015-04-29 09:33] miyconst commented on #123
Yes, by root I mean the highest possible element inside sidebar.

[2015-04-29 09:55] miyconst opened #126 "Cannot find function or filter: forceJson"
Steps to reproduce:

1. Start Launcher and any other app.
2. Open a page of an app.
3. Open layout editor and modify any element.
4. Select any element inside `launchpadGrid` sidebar menu.
5. Press `Save` button. There will be an exception on console:

[code]

[2015-04-29 17:02] warpech commented on #121
I was thinking about the same! `Ctrl + E` (`Cmd + E` for Mac) is a good idea, I think.

`Cmd + L` on Chrome/Mac selected the address bar, which is too useful to replace.

[2015-04-29 17:02] warpech commented on #121
`Esc` should hide the editor

[2015-04-29 17:05] warpech commented on #118
It looks like it is already done. Am I wrong?

[2015-04-29 18:44] miyconst commented on #118
No, it's not. Lets say we have a very long page with a scroll, then in sidebar scroll down to an element which is not visible on the page and click it to select. The page won't scroll down to the element.

It works in other direction. If scroll down the page and select an element which is not visible in sidebar tree, then sidebar tree will scroll itself to the element.

[2015-04-29 20:09] miyconst commented on #121
`Ctrl + E` is a custom Chrome short-cut. It focuses address bar and fills it with `?` to start search.

Used `Сtrl + Z` short cut. Could be easily changed to any other key.

Created custom `launcher-hot-key` element which accepts keys and fires it's `keyup` event when such keys pressed. Simple example:

[code]

[2015-04-30 16:19] tomalec commented on #57
Custom name can now be set for any item: individual tile, group, entire juicy-tile-list.

@warpech, do we need better suggested/display by default names?

[2015-04-30 16:19] tomalec commented on #119
These are not group names, but Partial Ids, and we cannot shorten them
Right now there is a way to provide custom label for it, which will be used only as a display alias.

[2015-04-30 16:40] #116 closed

[2015-04-30 16:41] miyconst commented on #119
Okay, I just wanted to rid off horizontal scroll in the sidebar.

[2015-04-30 17:16] tomalec commented on #122
We thought about making serverside code aware of juicy tiles more. So setup versions could be stored in dab. However, we would need few things before:
 - move fetching setup from serialize to Launcher
 - make it possible to read dynamic Json and store it in db

[2015-05-04 06:18] miyconst commented on #120
The text is readable with new design, buttons' size increased.

[2015-05-04 06:18] #120 closed

[2015-05-04 07:54] warpech opened #127 "Layout editor: remove inner shadow in the editor toolbar"
The remove inner shadow in the editor toolbar (top) look too old-school to me:

![screenshot 2015-05-04 09 54 00](https://cloud.githubusercontent.com/assets/566463/7450294/885406d8-f243-11e4-8b60-3a2eb4fff67f.png)

[2015-05-04 07:56] warpech opened #128 "Search does not hide workspaces"
Today I discovered some problems with search:

- when searching in Launcher from Launchpad, the Launchpad does not hide
- when searching in Launcher from People app, the workspace of the People app does not hide

Starcounter 2.0.3146.3, all apps from master

@miyconst could you investigate? ask @tomalec when not sure about how workspaces work

[2015-05-04 08:06] tomalec commented on #125
:+1:
I have added tile id's into tree view as item title, but it would be nice to have it also somewhere else, and more visible.

[2015-05-04 08:31] tomalec commented on #128
It seems that changing search query does not update URL => `warpech-display-router` is not notified to switch workspaces.

[2015-05-04 08:42] miyconst commented on #125
I guess you missed an item there, fixed it.

[2015-05-04 08:43] warpech commented on #128
How did it work before?

[2015-05-04 09:31] tomalec commented on #128
Search handler updated `searchEngineResultPageUrl` https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/viewmodels/Launcher.json.cs#L27 which is propagated to `juicy-redirect` https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/wwwroot/Launcher/LauncherTemplate.html#L52

[2015-05-04 11:58] warpech commented on #128
@miyconst can you try to fix that based on the above info?

[2015-05-04 13:06] miyconst commented on #128
@warpech sure, will do that.

[2015-05-04 15:19] miyconst commented on #128
There is some issue with patches. The client does not receive patch to update `searchEngineResultPageUrl$` value.

Here https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/viewmodels/Launcher.json.cs#L24 `resp.searchEngineResultPageUrl` is empty.

But even if I add:
[code]

After https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/api/LauncherHelper.cs#L114 the client still d

[2015-05-04 18:57] chrhol commented on #128
@miyconst: I think something with setting the parent (https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/viewmodels/Launcher.json.cs#L28-L30) messes something up. If I remove these lines the `searchEngineResultPageUrl` gets sent to the client correctly.

Do you know why the parent is set each time?

[2015-05-04 21:15] miyconst commented on #128
@chrhol, sorry, but I have no idea.

The code was not written by me.

I tried to replace it with:

[code]

The search seems to work, but when I click on a search result link I got a js error:
[code]

at

[code]

The last json patch which causes the exception is available here:
https://jsfiddle.net/n5u9hze3/

[2015-05-04 23:02] alemoi commented on #128
Yeah, this code seems very strange and should be avoidable as we talked to even maybe restrict access to Parent.

[2015-05-05 06:09] tomalec commented on #128
I think, it's a legacy from early days of the Launcher. So, probably it's
not needed any longer.
5 maj 2015 01:02 "Alexey" <notifications@github.com> napisał(a):

[2015-05-05 08:36] miyconst commented on #128
Removed the `this.Parent = resp;` at all https://github.com/Polyjuice/Launcher/commit/a581ddbfd2a3217c19d8f84b17672b34175d73c9

The search works, but the js exception still here. Steps to reproduce:

1. Start Launcher.
2. Start People.
3. In search field input some text and find a person or an organization.
4. Click any person or organization link in the search result.
5. There will be blank works

[2015-05-05 08:52] chrhol commented on #128
I will take a look

[2015-05-05 10:39] chrhol commented on #128
I have reproduced it. It looks like there is an extra patch that comes before the workspace is added. Probably something I did in the current "fix" :)

[2015-05-05 13:51] chrhol commented on #128
This problem was not from the latest fix I did. Rather it is happening because we use the same json (Master from People) both as result from search and as workspace for People when an orgnaization or person is clicked, which means we have the same json in two different places in the viewmodel.

When the CurrentPage is updated an incorrect patch is generated. the path for the first patch below shou

[2015-05-05 19:55] miyconst commented on #128
@warpech is the search that important to fix People and other apps with the temporary fix?

[2015-05-07 14:41] warpech commented on #125
Maybe add a switch at the bottom of the sidebar to choose showing the id or the friendly name?

[2015-05-07 14:43] warpech commented on #124
Approved

[2015-05-07 14:45] warpech commented on #123
Approved, but first let's solve https://github.com/Juicy/juicy-tile-editor/issues/37

[2015-05-07 18:49] #127 closed

[2015-05-07 18:52] miyconst commented on #125
Don't know. After all of those improvements, it feels like this feature is not needed any more.

I would like to see this one done: https://github.com/Polyjuice/Polyjuice/issues/37

[2015-05-08 07:46] warpech commented on #125
You are the person who worked the most with layout editing recently, so I trust your judgement. @tomalec do you agree titles are fine for now? Then let's close the issue

[2015-05-08 09:56] tomalec commented on #125
I would only add id somewhere in top menu, even in small brackets under the name field or so, to be able to copy it and search in raw JSON. but it is not very important

[2015-05-08 15:13] miyconst commented on #124
The button does not work on this page: http://juicy.github.io/juicy-tile-editor/, but works on this: http://juicy.github.io/juicy-tile-editor/examples/juicy-tiles-grid-editor.html

[2015-05-08 16:27] miyconst opened #129 "Move unhide all logic to juicy-tile-list and juicy-tile-grid"
The unhide all logic is inside `juicy-tile-editor-form`, which is not very correct.

The method should be moved to the tile containers (`juicy-tile-list` and `juicy-tile-grid`) and they should recursively call the method of own children.

What would be a good way to don't create two exactly the same methods in `juicy-tile-list` and `juicy-tile-grid`?

References to: https://github.com/Polyjuice/La

[2015-05-08 16:27] #124 closed

[2015-05-08 17:16] miyconst commented on #125
I replace `Container` title in the top panel with item's id, if only one item selected. Looks like this:
![juicy-tile-editor-id](https://cloud.githubusercontent.com/assets/6435556/7541551/f5d8f0fa-f5be-11e4-92a8-dc3844b08d21.png), the yellow color is just to mark the changed element.

Closing the issue for now.

[2015-05-08 17:16] #125 closed

[2015-05-11 08:08] #40 closed

[2015-05-11 08:52] warpech commented on #129
`juicy-tile-grid` extends `juicy-tile-list`, so it is sufficient to put it to `juicy-tile-list`.

@tomalec do you agree?

[2015-05-11 09:03] miyconst commented on #129
I guess that *Unhide all* button should unhide all of the items inside, including all children.

In the first implementation I foreach through `this.allItems` and unhide them all. Then, on the demo page I saw nesting of `juicy-tile-list` and remade the method to not only unhide own items, but also unhide items of nested `juicy-tile-list` and `juicy-tile-grid`.

If the method is moved to `juicy-til

[2015-05-11 09:14] tomalec commented on #129
I believe that due to CustomElements encapsulation idea, single `juicy-tile-list` should not mess with others, and editor should be the one that is aware that hiding a tile should also hide nested tiles.

[2015-05-11 09:16] tomalec commented on #129
Another thing is that if parent tiles hides tile containing another partial with nested tiles, it would be enought to hide it visually, and would not hide entire partial which could be used elsewhere.

[2015-05-11 09:22] tomalec commented on #129
Do we want to unhide tiles from not visilbe juicy tile lists as weel, let say those from hidden workspaces?

[2015-05-11 09:36] miyconst commented on #129
Absolutely agree.

It might be two methods:

1. A method inside `juicy-tile-list` which unhides only own items.
2. A method inside `juicy-tile-editor` which selects all of the `juicy-tile-list` and `juicy-tile-grid` and then invokes the method 1.

What are the hidden workspaces? I think the *Unhide all* button should make visible every possible tile on the page.

[2015-05-11 10:10] warpech commented on #121
Do you use the `Ctrl + E` feature of Chrome? I am asking because I don't and never heard of anyone doing that, but know many people including myself who use `Ctrl + Z` for undo...

Does it help that `Ctrl + E` on Windows seems to be also mapped to `Ctrl + K`? On Mac it is available via `⌘-Option-F`.

[2015-05-11 10:45] warpech commented on #57
It would be nice to have default display names better than `AppName/index`, but what we have now is sufficient for the time being.

Detecting display name is related to detecting the type of content for the purpose of the tree element icon as proposed by me here: https://github.com/Polyjuice/Polyjuice/issues/44

Current priority: low.

[2015-05-11 12:58] tomalec commented on #129
Hidden workspaces:
 1. Run Launcher, App1, App2
 2. From Launcher's launchpad (home screen) go to [App1](http://localhost:8080/App1) - App1 output wrapped in `juicy-tile-list`will be added to DOM
 3. Go to Launcher's home
 3. Ggo to [App2](http://localhost:8080/App2) - App1 workspace will get hidden, App2 output wrapped in `juicy-tile-list`will be added to DOM

Now juicy-tile-editor` shows `juicy-

[2015-05-11 13:01] tomalec commented on #57
AppName/index is default id, display name should stay as before: name guessed from the content

[2015-05-11 13:10] miyconst commented on #129
Okay.. I don't understand why the workspace is hidden, and not removed, but in this case unhide button should show tiles in visible workspaces only.

[2015-05-11 13:35] warpech commented on #57
Fair enough. Please note that this ticket is *only* about display names, not about internally used element id.

[2015-05-11 14:02] miyconst commented on #121
I use `Ctrl + E` very seldom, and `Ctrl + Z`  was just a temporary solution. Replaced it with `Ctrl + E` as you confirmed that you (and hopefully others) don't use this chrome shortcut.

[2015-05-11 14:02] #121 closed

[2015-05-11 19:02] warpech commented on #121
Looks ok!

[2015-05-12 07:57] warpech opened #130 "Launcher icons appear on top of the layout editor"
The "Home" and "Search" icon incorrectly renders on top of the layout editor sidebar:

![screenshot 2015-05-12 09 56 27](https://cloud.githubusercontent.com/assets/566463/7582384/491ec89a-f88d-11e4-82ac-97e00cdcaab0.png)

[2015-05-12 13:21] miyconst commented on #130
Can't reproduce the bug under Chrome/windows, probably need to see your screen to fix this.

[2015-05-12 13:30] warpech commented on #130
Reproducible on Windows as well. Running only Launcher on Starcounter 2.0.3164.3, with sidebar attached to the left edge of the screen.

![windows](https://cloud.githubusercontent.com/assets/566463/7588176/b25fb3fe-f8bb-11e4-89c2-994a0d386952.png)

Call me if you need more details

[2015-05-12 16:16] warpech opened #131 "Layout setup version history: REST API"
As discussed today between @tomalec, @alemoi and me: Enhance the current REST API of layout setup for a partial id to be aware of historical revisions:

- retrieve the list of revisions
- save a new revision (remove the current behavior, which is overwriting the current revision)
- get the current revision
- get a particular revision
- mark a particular revision as the current

Currently the code

[2015-05-12 16:32] warpech commented on #122
After https://github.com/Polyjuice/Launcher/issues/131 is done, we need UI to display history for a given partial, load a historical version for preview or mark it as current (restoring layout from the history).

The exact UI is yet to be defined.

[2015-05-13 05:56] miyconst commented on #130
Okay, I got the exception, it appears if the sidebar was attached to the left side on page load, but not if I drag it from right side.

[2015-05-13 06:08] #130 closed

[2015-05-13 06:13] miyconst commented on #131
I would suggest to save snapshot of webpage, not only json setup. It would be much easier to choose correct history item if it has an image of actual look.

[2015-05-13 09:42] warpech commented on #131
It may be considered for future, but definitely not that easy: http://stackoverflow.com/questions/4912092/using-html5-canvas-javascript-to-take-screenshots

[2015-05-13 15:11] miyconst commented on #123
The issue is not relevant, I guess. The sidebar tree is automatically rendered on open, and we never apply styles for the very root element, so no need to select it.

[2015-05-13 15:11] #123 closed

[2015-05-13 15:15] warpech commented on #119
I agree with @miyconst that their display value should be shortened. Please proceed with showing `/Products/viewmodels/EditProductPage.html` as `EditProductPage.html`. The full value should be displayed on title tooltip.

[2015-05-13 16:00] #119 closed

[2015-05-13 18:56] tomalec commented on #123
Just to note, we did few times change gap of root container, but I agree it's almost never.

[2015-05-13 20:11] miyconst commented on #123
Agree, this is useful when need a gap between layouts of two (or more apps). The only way to add this gap is to apply gap for the very top container, but I still don't think we should select the parent container on load.

[2015-05-20 11:26] warpech commented on #129
Workspaces are like windows in desktop OS. Assume you open 3 programs as full screen windows. Each of the windows is called "workspace" in Launcher.

The currently visible window is `display: block` while the windows behind it are `display: hidden`.

---

`juicy-tiles-tree` shows all elements in all windows and does not care if they are visible or not.

Maybe it should check if elements are displa

[2015-05-20 16:50] miyconst commented on #115
The sidebar has been reworked a lot recently, I don't see the need to collapse all of the groups any more.

[2015-05-20 16:51] miyconst commented on #117
@warpech do you think any of those keys would be useful?

[2015-05-20 16:54] miyconst commented on #126
@warpech should `launchpadGrid` items be editable?

[2015-05-20 17:19] miyconst commented on #94
@andwah can this issue be closed?

[2015-05-21 12:09] warpech commented on #126
I don't think so

The `forceJson` filter is defined in https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/wwwroot/Launcher/elements/launcher-launchpad/launcher-launchpad.html#L53

Maybe the workaround can already be removed? @tomalec?

[2015-05-21 12:22] warpech commented on #94
Closing as non-reproducible anymore, fixed with other fixes.

[2015-05-21 12:22] #94 closed

[2015-05-21 12:32] warpech commented on #117
I would prefer to avoid having them, for 3 reasons:
- I know from experience that keyboard shortcuts in web apps are difficult to maintain and test
- You are renaming a tree element. You have text cursor in the `<input>` field. What should happen after "Shift + S" is pressed? Add uppercase "S" to the input or save the setup?
- There might be another app that also wants to register the same hot key

[2015-05-21 12:34] miyconst commented on #117
I like the last idea.

[2015-05-21 12:36] warpech commented on #117
Let it be then :)

[2015-05-21 12:40] warpech commented on #115
I think it is still a good idea. The same way as tree in File Explorer works: all folders are collapsed by default, until you expand them or select something inside them:

![Windows Explorer](http://designinginterfaces.com/firstedition/Patterns/Two-Panel_Selector/windows-explorer.gif)

[2015-05-21 12:44] miyconst commented on #115
I can't disagree, just it is not very important for me, as it was before.

[2015-05-21 17:08] miyconst commented on #117
Done. Now there are three buttons in the top right corner of sidebar:
1. Expand all.
2. Collapse all.
3. Show all.

[2015-05-21 17:08] #117 closed

[2015-05-22 11:27] tomalec commented on #126
I'm afraid it cannot as https://github.com/Starcounter/Starcounter/issues/2571 is still opened, so probably we cannot send Patches to setup. `forceJSON` is to convert string returned by SC to JSON

[2015-05-22 11:53] #115 closed

[2015-05-25 22:12] tomalec opened #132 "Extend <include-template> with Launcher specific layout management features"
Idea is to have juicy-tile-grid, [layout features](https://github.com/Polyjuice/Launcher/wiki/Layout-setup), and all Polyjuice magic put for every (https://github.com/Polyjuice/Launcher/issues/40) `<imported-template>` used by app dev

Draft of spec in wiki https://github.com/Polyjuice/Launcher/wiki/include-template-in-Polyjuice

Umbrella in here: https://github.com/Polyjuice/Launcher/issues/114

[2015-05-25 22:41] tomalec commented on #132
Besides the problems marked at wiki, I would said that the biggest obstacles are:

# Siblings vs nesting
`<template is="imported-template">` (or future `include-template`) puts output on sibling level, but in Polyjuice we pack it into the tiles-grid, so even if we would hide it into ShadowDOM, it is still a container that separates it from sibling.

I recall that this sibling feature was quite imp

[2015-05-26 08:34] warpech commented on #132
I think he have to live with the fact that `<include-template>` wraps templates in an element. Inside it can use `<template is="imported-template">` in an unchanged form.

This will make it easier for us to get ready for Polymer 1.0. I don't think there are any real problems win wrapping templates in an element, since this is what `<launcher-root-partial>` already does.

[2015-05-26 09:52] miyconst commented on #132
I agree with @warpech, currenty I have to manualy wrap `<template is="imported-template">` in a div to make layout editor work as it should.

[2015-05-27 17:04] tomalec commented on #132
There are no problems in wrapping `imported-template` into dive when it's used as a tile, as this is by tile definition - it should be single element. @miyconst you "have to.." wrap it to "make **editor** work", not to make template work.
`imported-template` works as it should when not wrapped, and there are cases where we use it in purpose as a sibling.

[2015-05-29 09:49] warpech commented on #132
Conclusion from today's meeting with @tomalec and @miyconst:

A new `<polyjuice-include>` element should be included in Starcounter /sys/ directory, which is actually `<template is="imported-template>` wrapped in a custom element.

Launcher (or Layout app in future) overwrites the definition of  `<polyjuice-include>` to add the capabilies of `<juicy-tile-list>` to it. Technically it means to renam

[2015-05-29 10:06] tomalec commented on #132
To explain it a little, that means, that when app developer wands to make a partial in Polyjuice (that gets Polyjuice mixing, and layout features)  he needs to specifically:
 - use `Self.GET` for insertion point in server-side
 - use `<polyjuice-include>` for insertion point in HTML

In Polyjuice documentation, we will explain that from HTML perspective developers should expect `<div><template is=

[2015-06-02 11:29] warpech opened #133 "Different cog color for unsaved changes in layout editor"
As discussed in https://github.com/Polyjuice/Polyjuice/issues/53, there should be an alternative color for the cog (or maybe some orange dot on it's corner?) indicating that the layout was not saved before collapsing the editor.

![screenshot 2015-06-02 13 27 15](https://cloud.githubusercontent.com/assets/566463/7934818/408ac536-092b-11e5-9bde-3bff2b0be91b.png)

[2015-06-02 12:46] warpech opened #134 "Add a X button to close the layout editor"
Currently, the cog icon is used to close the layout editor:

![screenshot 2015-06-02 14 35 22](https://cloud.githubusercontent.com/assets/566463/7935898/d6c356e0-0934-11e5-9436-0f8587e98856.png)

It would be better to use a "X" button to close the layout editor if it's opened:

![screenshot 2015-06-02 14 36 53](https://cloud.githubusercontent.com/assets/566463/7935964/58e74d16-0935-11e5-8ded-5ed87

[2015-06-04 11:11] tomalec commented on #129
I would rather vote for editor checking visibility of show elements, rather that Launcher changing the behavior of workspaces for all users, to make tree view for editor more appealing. The question is what about nodes hidden otherwise? (ShadowDOM distribution, other CSS rules)

[2015-06-04 12:37] warpech commented on #129
The only simple solution for the hidden workspaces proble,m that comes to my mind, is to run check if the tree root `juicy-tile-list`s, or their DOM ancestors, are not `display: none`.

But I think this is not a problem anymore, since the tree shows up in collapsed state by default.

This is offtopic anyway. What about the main topic of this issue? @tomalec do you suggest to keep "Unhide all" logi

[2015-06-04 12:53] tomalec commented on #129
Yes, I would suggest to leave it in `juicy-tile-editor`. If we really need we could make `unhideAll` sugar method in `juicy-tile-list` that will unhide all items from this list, but I think https://github.com/Juicy/juicy-tile-editor/blob/gh-pages/src/juicy-tile-editor.js#L615 is not a big deal for editor, and thanks to that it gets full controll when do (aggregated) refresh/repack

[2015-06-05 08:48] warpech commented on #118
Then I don't think the scrolling in question should be implemented. It may turn out to be hard to maintain.

[2015-06-05 09:13] warpech commented on #129
Closing then as Won't fix, thanks everyone for the opinions :)

[2015-06-05 09:13] #129 closed

[2015-06-05 09:30] miyconst commented on #118
Okay, current layout editor is good enough.

[2015-06-05 09:30] #118 closed

[2015-06-05 11:24] miyconst commented on #134
I have added `cancel` icon from `font-awesome` to `jte` collection and used it.

[2015-06-05 11:25] #134 closed

[2015-06-05 11:27] miyconst commented on #133
After https://github.com/Polyjuice/Launcher/issues/134 the cog icon is no longer visible when side bar at the right side.

Should we think up some better way to notify user about unsaved changes?

[2015-06-05 11:34] warpech commented on #134
My thought was that the "X" icon should be added in Launcher, not in `juicy-tile-editor`. Launcher shows it, so Launcher should hide it.

[2015-06-05 11:35] warpech commented on #134
On similar note, is `CTRL+E` hotkey implemented in `juicy-tile-editor` or Launcher?

[2015-06-05 11:39] miyconst commented on #134
`launcher-hot-key` is implemented in Launcher.

The **X** button does not close the editor, it fires and event, and the Launcher closes it. The dialog windows have own close button, but not the opener of the dialog provides the close button.

[2015-06-05 11:40] warpech commented on #134
Fair enough, thanks!

[2015-06-05 11:42] warpech commented on #133
With layout editor opened, user knows that he has unsaved changes because Save / Revert icons are active.

With layout editor closed, user doesn't know if there are any unsaved changes. This is the problem that we are trying to solve (previous attempt was here: https://github.com/Polyjuice/Polyjuice/issues/53)

[2015-06-08 05:06] miyconst commented on #133
Okay. Taking the issue.

[2015-06-08 06:32] miyconst commented on #133
Done, looks like this:
![launcher-layout-modified](https://cloud.githubusercontent.com/assets/6435556/8029032/a3a5304a-0dc0-11e5-99d2-a8ed3bbdd963.png)
Could not find any better color, which would indicate the "changed" state, but not too bright.

Also added a title to the red cog: "You have unsaved layout changes on this page!".

To achieve this result I exposed `modified` property of `juicy-tile

[2015-06-08 07:33] warpech commented on #133
Done right, thanks! Visually could be better, but [there aren't too many great patterns to follow](http://ux.stackexchange.com/questions/41038/is-there-a-better-character-than-the-asterisk-to-indicate-a-modified-document).

[2015-06-08 07:42] miyconst commented on #133
I like the asterisk symbol for this purpose, but in our case we don't have any place to put it in.

[2015-06-08 07:42] #133 closed

[2015-06-08 14:51] miyconst opened #135 "Add favicon.ico"
By default Chrome looks for favicon in the root `/favicon.ico`, this leads to
`GET http://localhost:8080/favicon.ico 404 (NotFound)` error on console.

We have to add a `<link rel="shortcut icon" href="/path/to/our/icon/favicon.ico" />` or put an icon to the root folder.

[2015-06-08 16:58] miyconst commented on #135
I was brave enough to add `favicon.ico` from starcounter.io without approval :-)

[2015-06-08 16:58] #135 closed

[2015-06-08 20:15] warpech commented on #135
Better than nothing :)

[2015-06-12 13:09] malx122 opened #136 "Search has a very annoying behaviour"
Searching in the searchbar gives ridiculous web browser history. Searching should not affect webbrowser history (or replace anything on screen) before "enter" has been pressed. Live results could(and should) be shown but via popup or something like that.

Look at google.com, facebook or any other known application on how it should work.

[2015-06-15 07:57] warpech commented on #136
I agree.

Another thing is that Facebook/Google have different search result views for the suggestion area and for the SERP area. I think we can achieve that as well using `CallLevel`.

[2015-06-15 07:58] warpech commented on #132
Is this done?

[2015-06-15 10:52] miyconst commented on #136
I have added search preview popup and redirect to search url by `enter` key or by `search` icon-button press.

@warpech take a look and close the issue if you like it, please.

[2015-06-15 11:48] tomalec opened #137 "Define desired behavior for layouts and layouts manager"
As mentioned in https://github.com/Juicy/juicy-tile-grid/issues/8#issuecomment-112030320
We need more precisely stated expectations, and test cases,for what we really want to achieve with layouts in various scenarios, mixing:
- use of different units, and fixed/flexible dimensions for individual elements,
- behavior when new apps are started,
- when app get's stopped, and their elements were part

[2015-06-15 11:54] tomalec opened #138 "Consider making bin-packing applicable only if explicitly asked"
(as mentioned in https://github.com/Juicy/juicy-tile-grid/issues/8#issuecomment-112030320)

If we speak on layout, we usually mean eye candy layout prepared for given set of elements by aesthetically inclined professional, and we speak in position, dimensions, relation to other elements.
We rarely think of linear (`priority`) order, and effective use of space.

So, as gap-less layout definitely ma

[2015-06-15 13:25] andwah opened #139 "Remove the padding/Margin in the "workspace"?"
How do i remove that "gap"

![image](https://cloud.githubusercontent.com/assets/2656996/8160715/25364e58-1372-11e5-9371-7418c4f2bb83.png)

[2015-06-16 14:41] miyconst commented on #139
@andwah I tried to run AppStoreClient locally, but was not able to build the app:
[code]

Could you please make sure that everything is commited, and if yes then what could cause this error?

[2015-06-16 14:48] miyconst commented on #128
Search works fine now, can this issue be closed?

[2015-06-16 14:49] miyconst commented on #112
@alemoi, can this issue be closed?

[2015-06-16 14:52] miyconst commented on #88
@tomalec, can this issue be closed as SignIn app has already been developed and used in UserAdmin app?

[2015-06-16 14:54] miyconst commented on #87
To avoid this issue all of the bower components should be installed to `/sys/` directory, not `/bower_components/`.

Anyway, this issue seems to be outdated and no longer relevant, @andwah close it please.

[2015-06-16 14:57] miyconst commented on #85
Why it should be blocked? Is this issue still relevant, by the way?

[2015-06-16 14:57] warpech commented on #128
Yes, thanks for checking!

[2015-06-16 14:57] #128 closed

[2015-06-16 15:00] alemoi commented on #112
Yes, closing this one. Thanks for noticing!

[2015-06-16 15:00] #112 closed

[2015-06-16 18:26] #87 closed

[2015-06-16 18:29] andwah commented on #139
At the moment the AppStoreClient working code is in the "newadmin" branch. https://github.com/Polyjuice/AppStoreClient/tree/newadmin

the "newadmin" branch will soon be the "master" branch

[2015-06-16 18:31] andwah commented on #139
btw. i think this "gap" is in the launcher and not defined in the app itself.

[2015-06-17 04:52] miyconst commented on #139
Yes, this gap is defined in launcher styles: https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/wwwroot/Launcher/css/style.css#L20

I can remove it, if you need. For me AppStore looks better with the gap.

[2015-06-17 07:41] warpech commented on #139
This gap is configurable in Launcher's CSS right now. It will be
configurable in Launcher's layout editor one day. It does not come from the
app.

--
Marcin Warpechowski
+48 603 607 801

On Wed, Jun 17, 2015 at 6:52 AM, Konstantin <notifications@github.com>
wrote:

[2015-06-17 07:44] warpech commented on #87
@miyconst it would be great if you could write an explanation about that in Starcounter.io > Docs > Guides > Apps section.

I will create a ticket for that

[2015-06-17 09:39] warpech commented on #85
Because each `juicy-tile-list` hosts the setup JSON for it's child elements. If you move a tile to another `juicy-tile-list`, then you have a cross-list behavior in which `juicy-tile-list#1` holds the setup for a child element of `juicy-tile-list#2`.

It is wrong for 2 reasons:

1. now you would need to synchronize setups between 2 `juicy-tile-lists` (so that the element does not get distributed t

[2015-06-17 10:02] warpech commented on #88
This issue cannot be closed, because the question is still valid:

Should an app (UserAdmin) redirect to a login form which comes from another apps (SignIn, GoogleSignIn)? If yes then how?

[2015-06-17 14:12] miyconst commented on #85
Well.. this would limit me as a layout designer very much. I very often combine in a group elements from different apps. Am I missing something?

[2015-06-17 14:22] miyconst commented on #88
As I proposed long time ago, I think that UserAdmin app should redirect to `/launcher/signin` and Launcher should use PolyjuiceMap the same as it does for menu and signin section to display sign in forms from all of the available apps.

[2015-06-17 20:52] tomalec commented on #132
I think so. As we agreed [`launcher-include`](https://github.com/Polyjuice/Launcher-include) is extended/hijacked version of [`<polyjuice-include>`](https://github.com/Polyjuice/polyjuice-include).

How it works is described at [wiki](https://github.com/Polyjuice/Launcher/wiki/include-template-in-Polyjuice)

[2015-06-17 20:52] #132 closed

[2015-06-18 17:42] warpech opened #140 "System.MissingFieldException: Field not found: 'Starcounter.Internal.StarcounterEnvironment.AppName'."
Using Starcounter 2.0.3226.3, I cannot run Launcher. I am getting a startup exception:

[code]

Is this some unannounced API change?

[2015-06-18 18:02] warpech commented on #140
Hmm, after 2 rebuilds it started to work... I assume it was something wrong with my build. Sorry!

[2015-06-18 18:02] #140 closed

[2015-06-26 11:10] miyconst commented on #136
Ping @warpech.

[2015-06-29 06:44] #136 closed

[2015-06-30 11:24] tomalec opened #141 "dynamic height and heightFlexible problem"
As of https://github.com/Juicy/juicy-tile-grid/issues/10
Once fraction were implemented it occurred that flexible row height (given in `fr`) is usually not so desired in `defaultTileSetup`.

In default `"rightDown"` direction, when some rows are flexible (due to tiles with `heightFlexible: true`), and come content is added to increase vertical space, you may end up with undesired result:
![launche

[2015-07-02 07:12] miyconst commented on #126
I don't see this exception any more, and it looks like @chrhol has fixed https://github.com/Starcounter/Starcounter/issues/2571, @tomalec can you confirm that it is fixed?

[2015-07-03 07:51] tomalec commented on #126
I'm not sure if forceJson issue is fixed, as currently there is no setup for launchpad coming.

[2015-07-03 08:25] tomalec commented on #126
Ok, I'll goo with clean solution, so forceJson will not be needed

[2015-07-06 13:51] miyconst opened #142 "Refactor Launcher app to fit current Polyjuice project structure"

[2015-07-06 17:18] #142 closed

[2015-07-07 14:52] #126 closed

[2015-07-07 16:10] miyconst opened #143 "Apps with name like LauncherXxx does not work inside launcher"
This line of code:
[code]
https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/Api/LauncherHelper.cs#L33

checks whether requested uri belongs to Launcher and does not wrap it if so.

The problem appears when some other application has name like LauncherXxxx.

cc @warpech

[2015-07-10 16:07] tomalec commented on #99
As mentioned in https://github.com/Juicy/juicy-tile-grid/issues/12, with tight groups we will need to provide also non-CSS layout with at least nested groups structure.

[2015-07-10 20:19] #143 closed

[2015-07-23 00:19] tomalec commented on #141
Examples are at
http://juicy.github.io/juicy-tile-editor/examples/juicy-tile-grid/menu-content.html
http://juicy.github.io/juicy-tile-editor/examples/juicy-tile-grid/two-tables.html

[2015-07-23 00:19] #141 closed

[2015-08-04 13:58] tomalec commented on #60
At today's (2015-08-04) meeting we agreed to set gutter to half of a parent by default.

[2015-08-04 16:07] warpech opened #144 "Make the context switching of the layout dimensions clear"
On today's meeting, it took as a hour to discuss how hard it is to grasp the context of units vs pixels vs fractions. Units=fractions at the lower boundary of the responsive breakpoint. It get's very complicated when there are nested grids, because they have separate definitions for responsive breakpoints.

One of the discussed solutions was to show `/ <parent width>` as an uneditable part of widt

[2015-08-10 10:56] warpech opened #145 "Show an error message if CSS Grid is not supported"
There should be a fatal error message in Launcher if it is accessed in an unsupported browser.

This is related but not the same as https://github.com/Juicy/juicy-tile-grid/issues/7, which is about an error in the console.

I propose the following text for the error message:

[2015-08-10 11:43] miyconst commented on #145
Should I check whether browser actually supports css grid, or just check the browser to be Chrome + Web Platform features?

This page says that css-grid could be achieved in any browser: http://igalia.github.io/css-grid-layout/enable.html

But this example: http://gridbyexample.com/examples/code/example2.html works in Chrome and Opera only. Firefox displays it in a wrong way, and MSIE does not car

[2015-08-10 13:01] warpech commented on #145
You cannot check if "Web Platform features" flag is enabled and I think this is a good thing. You need to do feature detection for a particular feature that you want to have.

As proposed by @tomalec in another issue, I think that a simple CSS selector:

[code]

will rule out all browsers that don't have the proper support for CSS Grid Layout. I guess we should literally not restrict ourselves to

[2015-08-10 14:44] miyconst commented on #145
Potentially we could achieve proper functionality under Firefox and IE, because Polymer works under those browsers, but currently our applications, starting from Launcher, do not work under any browser except Chrome.

One of the reasons might be is that events fire order is different for native support and polyfill support.

[2015-08-11 11:39] warpech opened #146 "Sometimes the launchpad doesn't show up"
See the screenshot:

<img width="1423" alt="screenshot 2015-08-11 13 38 20" src="https://cloud.githubusercontent.com/assets/566463/9196720/5388faf6-402e-11e5-8b14-9f95027ce817.png">

[2015-08-11 11:39] warpech opened #147 "Remove the "Launchpad" heading from Launchpad"
This text is redundant:

<img width="200" alt="screenshot 2015-08-11 13 39 39" src="https://cloud.githubusercontent.com/assets/566463/9196732/6f75ef3a-402e-11e5-8ddd-d36e4e54cd03.png">

[2015-08-11 16:40] #147 closed

[2015-08-11 17:03] miyconst commented on #146
I have met this issue several times, but was not able to reproduce on purpose. I have pushed an attempt to fix the issue, but not sure it will actually work.

[2015-08-11 18:19] warpech opened #148 "Launchpad is not sorted alphabetically"
See the screenshot:

<img width="633" alt="screenshot 2015-08-11 20 19 06" src="https://cloud.githubusercontent.com/assets/566463/9206126/3b005776-4066-11e5-9b13-8ee7b62169ff.png">

[2015-08-12 08:32] #148 closed

[2015-08-12 16:11] warpech opened #149 "The left sidebar does not stretch to content height"
There is a blank space below the left sidebar after scrolling:

![bug](https://cloud.githubusercontent.com/assets/566463/9229236/660f55c8-411c-11e5-8212-a5e153d1245d.gif)

It is clearly connected with `juicy-tile-grid`, but I don't understand how. @miyconst could you investigate that?

[2015-08-12 17:04] miyconst commented on #149
This happens because the `juicy-tile` which contains the app store has no items on page load, and it's height being calculated as `0px`.  The content inside the tile is displayed as `overflow: visible`, this is why it does not stretch it's parent.

This issue could be solved with:
- default styles `height: 1, heightDynamic: true`.
- add background to `<body>` so it will look like the left panel go

[2015-08-12 17:58] miyconst commented on #145
Added such message:

Firefox:
![image](https://cloud.githubusercontent.com/assets/6435556/9231830/0e4278e0-4133-11e5-931c-194ad686c483.png)

Chrome:
![image](https://cloud.githubusercontent.com/assets/6435556/9231900/57fa9aee-4133-11e5-9aca-efd59717f822.png)

IE:
![image](https://cloud.githubusercontent.com/assets/6435556/9231948/a9f4c2e8-4133-11e5-8946-f4aaafeefdc0.png)

[2015-08-12 17:59] miyconst commented on #145
IE does not load or does not applies styles from style sheet file, inline styles works fine, but I would like to keep them in the file.

Firefox does not display the message if `layout.css.grid.enabled` set to `true`, but does not work either.

[2015-08-13 09:33] warpech commented on #149
I guess this will be enough:

Let's not change the background because that would only mask the problem, not fix it

[2015-08-13 10:32] warpech commented on #145
@tomalec any idea what to use for feature detection that would exclude Firefox even if `layout.css.grid.enabled` is `true`?

[2015-08-13 10:41] warpech commented on #145
One way: if it supports `display: -moz-grid`, then it's Firefox :)

[2015-08-13 10:45] warpech commented on #145
For me IE11 showed the styles, but after really long time:

![ie](https://cloud.githubusercontent.com/assets/566463/9248071/128ce648-41b9-11e5-8624-99fbd294e5e6.png)

Personally I would prefer to remove the "Dismiss" button and hide Launcher UI totally if the modal is present. @miyconst, @tomalec wdyt?

[2015-08-13 14:37] warpech commented on #146
Thanks! Let's close it since I haven't seen it in a while

[2015-08-13 14:37] #146 closed

[2015-08-13 14:53] miyconst commented on #149
Added default styles to the AppStoreClient, the issue should be fixed.

[2015-08-13 14:53] #149 closed

[2015-08-14 06:50] miyconst commented on #145
Okay, I have removed the dismiss button and added block ui layer.

The `display: -moz-grid` hack works ))

[2015-08-14 07:25] miyconst commented on #145
Released and uploaded to app store.

[2015-08-17 09:39] #145 closed

[2015-08-18 22:59] warpech opened #150 "Sometimes launchpad is not rendered"
See the screenshot:

<img width="1552" alt="screenshot 2015-08-18 15 57 39" src="https://cloud.githubusercontent.com/assets/566463/9345028/fa4f7d22-45c1-11e5-8823-7ffc21dc3020.png">

This is related to the Polymer errors highlighted in yellow.

[2015-09-16 12:56] warpech commented on #85
I will use the example of People app to explain how I understand the problem:

Currently, the editor does not prevent me from selecting two divs that belong to separate `juicy-tile-list`s (a div that is inside `EmailAddressPage.html`and a div that is inside `PhoneNumberPage.html`) and group them together:

<img width="1401" alt="screenshot 2015-09-16 14 51 46" src="https://cloud.githubusercontent.

[2015-09-16 14:10] miyconst commented on #85
I have solved this issue while migrating to Polymer 1.1, `juicy-tile-editor` alerts a message, that tiles from different `juicy-tile-list` could not be grouped. I should double check that it works with multiply selected items. Assigning this on me.

[2015-09-16 15:32] warpech opened #151 "Rename Launcher"
@Starcounter-Jack suggested that we find a more distinct name to use for this app. Current app is just "a launcher", but the name looks like it is "the launcher" for Starcounter.

"Launcher" should only be used to reference a class of apps (it should be a category in the App Store).

Ideas?

[2015-09-24 16:38] ivarbergman opened #152 "UseSessionCookie when creating new Session causes problems."
Hi! I been trying to change the ´new Session(...)´ behaviour in the Launcher. Using ´UseSessionCookie = true´ in

Launcher/src/Launcher/Api/LauncherHelper.cs line 59

    launcher.Session = new Session(SessionOptions.PatchVersioning) { UseSessionCookie = true };

Now, when loading the ´/launcher´ page. I get the following errors in the browser console:

    WebSocket connection to 'ws://127.0.0.1:

[2015-09-25 11:43] warpech commented on #152
@tomalec can you help?

[2015-09-25 16:18] tomalec opened #153 "Bootstrap connection fails with 400, if server-side was restarted, and browse still has the cookie"
We should renew session more gracefully.
Steps to reproduce:
1. goto /launcher
2. restart Launcher app
3. refresh the page

[2015-09-25 16:25] tomalec commented on #152
@alemoi, Could you take a look, Starcounter responds with code `200` for web socket connection, which seems to be invalid code (https://tools.ietf.org/html/rfc6455#page-47)

[2015-09-25 16:43] tomalec commented on #153
@warpech, @alemoi WDYT?

Someone have to invalidate/renew/clear the cookie.

Browser cannot do so, until it asks server. So either server may do so, or client after asking server, but this requires another ping-pong request.

[2015-09-25 16:44] alemoi commented on #153
Maybe if session info is wrong the request should be treated as without session?

[2015-10-01 09:30] #85 closed

[2015-10-01 11:05] warpech opened #154 "Clicking on Home icon results in 404"
If I don't have Launcher configured as my domain root handler, clicking on the Home icon in top left corner brings up a 404 page.

I think the Home icon should direct to `/launcher`

[2015-10-01 15:07] #154 closed

[2015-10-07 09:45] warpech opened #155 "Add information that Opera is also a supported browser"

[2015-10-07 09:46] jakubklekota commented on #155
+1

[2015-10-07 09:59] #155 closed

[2015-10-20 11:04] warpech opened #156 "Release a git tag"
For the last release [3.0.5](https://github.com/StarcounterSamples/Launcher/commit/cd9e216809391c5079600bd49bbd2b8b85a12c39), a git tag was not created.

@alemoi can you create it according to the instructions? https://github.com/StarcounterSamples/AppStoreServer/wiki/How-to-publish-apps

When you do it, it will appear in https://github.com/StarcounterSamples/Launcher/releases

[2015-10-20 11:07] alemoi commented on #156
Sure, will do that!

[2015-10-20 14:11] alemoi commented on #156
Just fixed that. Thanks for reporting!

[2015-10-20 14:11] #156 closed

[2015-10-21 13:31] warpech opened #157 "Use Object.observe and Array.observe shim"
Use Object.observe and Array.observe shim in Launcher, so it gets a chance to run in Firefox and Edge.

Put the shims to Starcounter's `/sys/`

cc @malx122

[2015-10-21 13:32] warpech opened #158 "Add a Dismiss button in CSS Grid Layout error modal"
cc @malx122

[2015-10-21 13:40] warpech opened #159 "Use CSS Grid Layout shim"
Currently Launcher (actually juicy-tile-grid) only works in Chrome/Opera, which support CSS Grid Layout (but only with "Enable experimental web platform features" enabled).

Investigate using a CSS Grid Layout shim so that Launcher becomes usable in FF & Edge.

[2015-11-13 10:03] malx122 opened #160 "Workspaces need to turn off AutoRefreshBoundProperties when in background"
As the title. You can not have "cached" workspaces in background that auto refresh properties. That can get totally out of hands after a while and many apps.

[2015-11-13 10:06] malx122 opened #161 "Multiple workspaces per app."
Only one "cached" workspace per app is not enough. There must be some way to do this better then to just bind it against the appname...

[2015-11-13 12:11] warpech commented on #161
Could you please explain the use case / desired UX?

[2015-11-13 12:13] warpech commented on #160
The thing is that server has no knowledge about what workspaces are "in background". For the server, all of them are equal JSON subtrees.

@chrhol any options here? we could potentially use request filters to log what is the last accessed URL to know what is the current workspace.

[2015-11-13 12:26] malx122 commented on #160
Launcher or server should know... Someone divides the requests into workspaces and that someone knows which was the last requested.

[2015-11-13 12:30] malx122 commented on #161
Single app has two "main" pages that you normally go back and forth between!
You don't want a full reload everytime. (But you want the one in background not to auto update before it is brought in front again to refer to my other issue)

[2015-11-13 14:14] warpech commented on #161
This can be achieved by keeping these two views as separate branches in the master view-model of your app.

For example:

[code]

[2015-11-16 06:51] miyconst opened #162 "Sometimes dashboard icons align vertically"
By @dan31 at https://github.com/Starcounter/RebelsLounge/issues/8#issuecomment-156815677

Sometimes dashboard icons align vertically instead of horizontally.

[2015-11-16 06:52] miyconst commented on #162
I saw such behavior a couple of times when there was a bug in `juicy-html`, the bug was fixed and since that time I was not able to reproduce this issue.

Things to do:

- Check whether any of the apps include old version of `juicy-html`
- Check console for any errors next time this happens

[2015-11-16 09:30] miyconst commented on #162
By @dan31

What I mean is this:
<img width="449" alt="screen shot 2015-11-16 at 10 21 59" src="https://cloud.githubusercontent.com/assets/7162535/11178309/4633ed24-8c4c-11e5-931a-63b8f46b7d9b.png">
It happens time to time when one hits the Back button.

[2015-11-16 11:15] warpech commented on #162
Reproducible with StarcounterSamples Launcher + People + Products

1. Install and run Launcher, People, Products
2. Go to list of Products (localhost:8080/products)
3. Click on the Launcher Home icon

Result:

<img width="835" alt="screenshot 2015-11-16 12 15 04" src="https://cloud.githubusercontent.com/assets/566463/11180540/b6dc9c2e-8c5b-11e5-83fc-217a9bc786e4.png">

[2015-11-16 11:38] tomalec commented on #162
As I suspected it happens because `launcher-launchpad` is loaded for the first time inside hidden container, therefore it does have width `0` and there is no `refresh` once shown. In other cases (partials in apps) it works as pages does have first break point specified in layout, but there is no layout for launchpad.

[2015-11-16 12:06] warpech commented on #162
So, how to fix this?

[2015-11-16 12:07] tomalec commented on #162
I'm still working on it. That's was just a note for future references to similar issues :)

[2015-11-16 14:17] tomalec commented on #162
I think we need to decide on what we would like to achive, as the root of a problem is the fact that launchpad is attached in background, into hidden (`display: none`) container, so it packs things into `0,0`, then it's being revealed (`display: block` on parent container) by `display-router`

The question is how we would like this instance of `juicy-tile-grid` to adapt to such behavior?

I can se

[2015-11-16 14:42] dan31 commented on #162
A note that @miyconst missed: we need the fix by tomorrow for the demo.

[2015-11-16 14:52] tomalec commented on #162
I can provide quick fix in any of those 3 direction within 30mins, I just want to agree what fits us best, and where to go with long term solution.

If we are going to re-size a lot during a demo, I suggest 2 or 3, if we would bother about fluent performance: 2 or 3, if customization: 1 or 2.

[2015-11-16 15:22] warpech commented on #162
With Tomek we decided on 1, for the reasons explained in that point.

[2015-11-16 16:54] warpech opened #163 "Update bower.json"
`/sys/` folder was updated without updating `bower.json`, meaning that running `bower install` puts all the packages in an incorrect state.

Please fix `bower.json`

[2015-11-16 19:20] tomalec opened #164 "Make launchpad layout editable"
As it occurred while investigating https://github.com/StarcounterSamples/Launcher/issues/162 launchpad's layout is not editable.

It would be nice to make it customization with the same editor as for workspaces and theirs content.
Desired behavior was described at https://github.com/StarcounterSamples/Launcher/issues/162#issuecomment-157043739

[2015-11-16 19:25] tomalec commented on #162
I will close this issue, as a (quick) fix for original problem was already pushed. Moreover, I would prefer to postpone long-term solution implementation after the [Wednesday demo](https://github.com/Starcounter/RebelsLounge/issues/8), as it requires to change `juicy-tile-list`, `juicy-tile-editor`, ugly work around for Starcounter/Starcounter/issues/3072, and may led the demo to https://github.co

[2015-11-16 19:25] #162 closed

[2015-11-17 05:19] miyconst commented on #163
Fixed.

[2015-11-17 05:19] #163 closed

[2015-11-18 10:08] warpech opened #165 "Don't use Mutation Events"
I found a problem in `RSE Portal` related to launcher-menu. It might be because of using deprecation Mutation Events API (DOMNodeInserted). We should use mutation observers.

[2015-11-19 10:50] per-samuelsson commented on #151
When I recently entered this app world of yours, I was thinking the exact same thing. If we promote custom launchers (which we are), ours shouldn't be named that. Totally agree.

Just as we have the MockApp ("mockup"), would about StartApp ("startup")? "The StartApp is the Starcounter launcher".

[2015-11-19 10:54] per-samuelsson opened #166 "Launchpad? Dashboard? Search field?"
Hello there! I'm new to app development. I understand that a launcher is a good thing to have. Not that I totally understand its role, but its referred to in quite a lot of places.

On the repo landing page, I can read:

Thats generous of you! What do they do for me?

[2015-11-20 10:34] warpech opened #167 "When you are in an app, search should only search that app"
When you are in an app, search should only search that app. Like on GitHub:

<img width="379" alt="screenshot 2015-11-20 11 23 02" src="https://cloud.githubusercontent.com/assets/566463/11297724/a5c6e508-8f7a-11e5-83ef-e7266e85924e.png">

@jwillmer proposes that the "Search" placeholder could be renamable from the app.

[2015-11-20 13:05] jwillmer commented on #167
Yes, renamable to give the user an idea what the search result could be, like a placeholder with watermark: "Products".

[2015-11-23 08:38] warpech commented on #166
Good catch! I think the README.md files of all our sample apps should be improved.

Regarding Launcher, I wrote some information here: http://starcounter.io/guides/web/launcher/

I think all of it could be copied to README.md actually, do you agree?

[2015-11-23 15:33] warpech commented on #151
I think such play of words will be difficult to maintain. We will make typos and the difference will not be comprehensible to non-native speakers.

I think that a good pattern is `<noun|adjective> Launcher`. What about:

- Default Launcher
- Star Launcher
- Hockey Stick Launcher
- **Playground Launcher** - I think this one is good because it will let us plug in the concept of playgrounds.

Here ar

[2015-11-24 16:43] per-samuelsson commented on #151
I vote **Default Launcher**. That both indicates

1. it comes from us
2. its a default (!!) and
3. it **can be replaced** by something that is not the default.

Also, its not to long and easy to pronunce.

That works in two directions. Yes, its a good thing it promote that. But no, its not good because its yet another concept I have to get acquainted to when I'm trying to grasp an already somewhat

[2015-11-26 15:04] tomalec opened #168 "Use latest bower feature `ignoredDependencies`"
So we will finally do not have to manually ignore bower packages shipped with Starcounter

[2015-11-26 15:09] #168 closed

[2015-11-27 09:52] warpech opened #169 "Blinking of old content"
Try this:
1. Run Launcher + Products
2. Go to Products by clicking in the left menu.
   - You will see the list of products
3. Go to "Edit a product" page
   - You will see the product details
4. Click on Launcher "Home" button
5. Go to Products by clicking in the left menu
   - For a frame, you will see the product details and then you will see the list of products

Reproducible at http://alby-42

[2015-11-27 10:50] tomalec commented on #169
Probably it's because our visual, local routing is faster than async fetching and updating JSON view model via WebSocket

[2015-11-27 11:00] tomalec commented on #169
Maybe we should push the RedirectURL to puppet-redirect from server after the new page/partial comes not before

[2015-11-27 15:30] warpech commented on #169
The URL is changed when you click on `<a href="">...</a>`. RedirectURL is not involved.

From my understanding, it is because `juicy-display-router` switches the workspace at the time when the URL changes, not when the actual response is received.

[2015-11-29 22:56] tomalec commented on #169
I have managed to remove the Flash Of Undesired Content which was shown between the moment when `juicy-display-router` shows the workspace (due to `window.location` change), and the moment when response with new JSON and comes.

Now Launcher simply returns visible URI as a art of view-model, and `<launcher-display-router>`uses it to change the workspaces.

However, there is still (shorter) FOUC. P

[2015-11-30 01:05] tomalec commented on #169
I'm afraid that due to asynchronous nature of imported-template, and unknown deep structure of nested sub partials, it may be hard to figure out arbitrary timing to finally change the display.

I would say, we need to re-think entire SPWorkspaces navigation flow.

Some, blood fresh spec proposal to consider: http://chrislord.net/index.php/2015/04/24/web-navigation-transitions/
https://docs.google.

[2015-11-30 10:04] jwillmer opened #170 "Menumapping needs to be after the user mapping"
currently
[code]

should be
[code]

otherwise a call to ```Simplified.Ring3.SystemUser.GetCurrentSystemUser()``` inside the menu will return null.

[2015-11-30 10:04] miyconst commented on #170
Discovered by me. Will try to fix that if have a free minute.

[2015-11-30 12:01] warpech commented on #170
I work on changes in SignIn that will create the session in in the request filter, not in the `/user` handler like now. Anyway, please proceed with the fix because mine might not be ready until tomorrow.

[2015-12-01 08:01] per-samuelsson commented on #166
Without a doubt! And I was just about further harassing what was up with this "AppName" triplet I see on all the samples (now that I'm about to become an app developer myself), but hux flux, in that link you shared it was described too! :+1:

[2015-12-01 08:02] per-samuelsson commented on #166
And oh, you want me to do it? I volonteer!

[2015-12-01 09:31] tomalec commented on #166
If you volunteer, feel free to do so :) otherwise I can do so once I'm done with juicy-tile-editor

[2015-12-01 09:33] per-samuelsson commented on #166
Taken! Will do. Figured it could be my once-in-a-lifetime oppurtunity to sneak in a commit in the launcher project! :wink:

[2015-12-01 11:31] per-samuelsson opened #171 "CSS Grid Layout Support - contradictory directives"
Relates to #145.

I see this

![image](https://cloud.githubusercontent.com/assets/2902045/11499512/e76187ac-9826-11e5-9856-8e7614910bee.png)

when I'm accessing `http://127.0.0.1:8080/launcher` in Chrome. I just pulled the latest launcher, and built it myself. No other apps are running.

Yet, [here](https://github.com/StarcounterSamples/Launcher#chrome-stable--dev-channel) on the ReadMe, I'm told:

[2015-12-01 13:35] warpech commented on #171
Good catch! Readme is outdated. I will update it now.

[2015-12-01 13:37] #171 closed

[2015-12-02 14:19] per-samuelsson commented on #166
I discussed this some with @warpech. We considered different options, but decided on to keep the ReadMe remain more focused on building, packaging, etc. And to have the real content *about* launchers remain on the `.io` site.

What I ended up doing is to just copy-tweak the summary, and then provide a link back to `.io`

[WDYT?](https://github.com/StarcounterSamples/Launcher#launcher)

For me, tha

[2015-12-02 14:19] #166 closed

[2015-12-02 22:13] warpech commented on #166
Very nice change!

In the long term hopefully we can improve Readmes of other apps as well.
Every app should have its features explained and currently it's not quite
the case.
On Dec 2, 2015 15:19, "Per Samuelsson" <notifications@github.com> wrote:

[2015-12-03 14:47] warpech opened #172 "Property names in AppName.json / Launchpad data should be CamelCase"
This is really confusing that Launchpad expects the following data in JSON:

[code]

Because all the other apps use this convention:

[code]

Launchpad needs to understand both formats and then all of the apps should be gradually changed to use CamelCase notation

[2015-12-03 14:48] warpech commented on #172
This confused two different users during this week

[2015-12-03 15:06] per-samuelsson commented on #172
Ideally, we should adapt case-insensitiveness rather than strict camel casing, but maybe there is some technical against that?

Second best is an approach that is consistent and verified - i.e. if I dont adhere to it, I see an error. Not just that things doesn't show on screen.

After that comes consistent and not verified.

I was one of them. It took me a few hours of trying to understand why my

[2015-12-03 16:41] warpech commented on #172
C#, JavaScript and JSON are case-sensitive so I think this should not be needed. Maybe some kind of validation could be in place, though.

[2015-12-04 07:19] malx122 opened #173 "Search needs to be redesigned from ground"
Search is missing quite a lot of features that I can't find any solution to the way it is working right now. But I do have ideas how to make it work...

1. Searchbar
   1.1. Writing in the searchbar should display a finite number of search results in a "dropdown" window. This can not be done the way it works today since all apps that want to return a result returns exactly what it want and not wha

[2015-12-04 07:25] Starcounter-Jack commented on #173
1. How would the launcher get the search results for the dropbox?
2. Agreed. To seach in an individual app feels like a must.

[2015-12-04 07:26] malx122 commented on #173
Then how to do this?
Today we have a search result responding to a
[code]
I suggest that a hint is added on maxresult to give (this can still give more results than searchbar can handle since it doesn't know how many apps that will respond but it atleast gives it a chance to hint this)
[code]

[2015-12-04 07:32] malx122 commented on #173
Then to the more advanced part. The results:
Today we give a "page" including anything:
[code]
This should be more done like in the "app-name" case, with a strict Json structure:
(I have not tested to build arrays right now so pseudocode below)
[code]

[2015-12-04 07:35] malx122 commented on #173
This way the searchbar can choose what and how many results it want from each app. It can navigate them and it can respond to enter with the url of each one.

[2015-12-04 07:40] mattiasmak opened #174 "Selected app in menu"
In the launcher menu it would be great and logical to indicate currently active app. I see no obvious way now without a big mess.

I guess the problem is the current approach with htmlmerger. This makes is difficult the do this rather simple thing without a javascript hack.

[2015-12-04 07:43] Starcounter-Jack commented on #173
I like it. Also, each search result  could provide a relevance score between 0 and 1.0 to help choosing which reaults to show in the dropdown in which order.

[2015-12-04 07:49] malx122 commented on #173
Yea!
(I also suggest to go for a stricter version of Json for rest of the launcher stuff like the menu also. It is impossible to style it any other way than original if you don't have controll over all apps right now. But it might be somthing for another issue)

[2015-12-04 07:51] Starcounter-Jack commented on #173
I think we should provide both ways to respond to search. One structured way (as you describe) and one way with Html widgets.

For the structures way, we need to respond with an optional objectid for each row. In this way the launcher can get rid of duplicates in case two apps respond with the sane item.

[2015-12-04 07:58] malx122 commented on #173
You still have possibility to Html widgets in the way above. Just that they are for each search result instead of for the whole app. (The client for the dropdown will probably set a max-size for each result)  Not sure you will find any real good reason to do it per app instead...

[2015-12-04 07:59] malx122 commented on #173
(And if you do, you could fake it by providing all your results in "one" result)

[2015-12-04 08:06] malx122 commented on #173
I correct my self. The dropdown should of course not just set the max-size for each result. It should set the size, period. Of course it up to each app, but its result html should best respond in a responsive way to make it look good in most sizes.

[2015-12-04 09:08] Starcounter-Jack commented on #173
I was thinking if you search for "restaurants" and the app wanted to display a map with pins for each restaurant. But this could be a separate handler/call that most apps ignore.

Sent from my iPhone

[2015-12-04 13:44] #170 closed

[2015-12-04 21:49] per-samuelsson commented on #173
That suggestion sounds good to me, as an alternative. That, in combo with some rating as suggested by @Starcounter-Jack, cound be a good improvement.

@malx122, this topic interest me, since I'm having some thoughts on how to relate to searches in the PIM in currently busy developing. Just to have this very clear, do you mind to just give a summary of the major **drawbacks** in the current design?

[2015-12-05 00:52] malx122 commented on #173
Sure, since I can't sleep anyway :).
But its quite similar to the list above of what I want it to do.
Current design drawbacks:
Gives launcher no knowledge and control over the search result.
* If I run one app, I might expect 10 best results from that app. But if I run 20 apps and every app returns 10 results it gets terrible in a fast dropdown box.

* Basic keyboard control is out of question si

[2015-12-05 20:47] per-samuelsson commented on #173
Thanks, @malx122. Thats well defined and clear.

I gave this some thought today, and lurked around for inspiration. I have no real "aha" just yet, but one thing we might want to study is something really close: GitHub search.

[code]

When I search like that, its scoped by default to the given repository. The hits I get are categorized: "Issues" and "Code" normally. Maybe do something similar, but

[2015-12-07 08:57] warpech commented on #173
Regarding searching in a single app, there is already a discussion: https://github.com/StarcounterSamples/Launcher/issues/167. I took GitHub as a reference as well.

I like the point of using a predefined JSON structure for `/search` results, just as we do for `/app-name`.

To be more consistent, we should apply it for `/menu` as well. This was asked by @mattiasmak but never turned into an issue.

[2015-12-07 09:07] per-samuelsson commented on #173
I agree.

We need to be careful not to be to restrictive though. There is a balance here we need to find. A more app-specific alternative should be supported too, just like @Starcounter-Jack suggested here:

Thats a really nice feature. But maybe it can be solved either as an alternative (like "Show strict | "loose" results), or we can make it fit into the model (i.e. supporting some property that

[2015-12-07 10:24] mattiasmak commented on #173
I think that the best is to return both a JSON structure and HTML. To present the search result the strict JSON data is used and the HTML (optional) is used to render the preview of result. Just like the spotlight search works in OSX. (See image). No need for complex solutions and finding the balance.

<img width="681" alt="search" src="https://cloud.githubusercontent.com/assets/606639/11624494/98

[2015-12-07 10:32] mattiasmak commented on #173
I did make an issue about the menu #174. I think as pointed above the same approach should work for menu as well. A more "strict" rendering of menu items, but also the option to show more optional (HTML) on mouse-over for example. As long as there's a way to make the running app selected in the menu I'm happy :)

[2015-12-07 14:11] miyconst commented on #157
This won't help Launcher to work in other browsers.

A `css-grid` shim and `puppet-dom-bind` notifier are required to make Launcher work in other browsers.

Closing the issue.

[2015-12-08 21:36] tomalec opened #175 "IE support"
Today @malx122 told me that it's important.

The first step is to remove the forced prompt with message that CSS Grid is not supported (https://github.com/StarcounterSamples/Launcher/issues/145)

Especially, that IE was the first browser that supported CSS Grid ;)

Launcher may still face lots of problems with IE, like shadow DOM styling limitations.
But I think locking user totally, behind CSS Gr

[2015-12-09 11:46] warpech opened #176 "JSON responses are hidden"
Currently, Launcher wraps all kinds of responses, even when the mimetype is not `text/html`. This leads to hiding of the response in the web browser, what makes debugging much harder.

This needs to be fixed potentially in [Launcher's htmlmerger](https://github.com/StarcounterSamples/Launcher/blob/a5b3d190f94a9f78a00dd08de4ff5609d0ea3644/src/Launcher/Api/MainHandlers.cs#L10) and [Starcounter's htm

[2015-12-09 12:16] warpech opened #177 "The new Settings page"
As discussed in https://github.com/Starcounter/RebelsLounge/issues/7, I have added a simple `/launcher/settings` page that displays settings from all the mapped apps.

It is accessible by clicking on the cog icon here:

<img width="1436" alt="screen shot 2015-12-09 at 13 13 26" src="https://cloud.githubusercontent.com/assets/566463/11685076/a6dcb048-9e76-11e5-869a-64366a5639ae.png">

As I have see

[2015-12-09 14:20] miyconst opened #178 "Use _timeoutMinutes instead of ServerSession"
Requires https://github.com/Starcounter/Starcounter/issues/3161
Parent issue https://github.com/Starcounter/Starcounter/issues/3084

[2015-12-10 05:18] malx122 commented on #177
Since we already have this feature (But not implemented in launcher, instead our own common library) I can tell you about our implementation.
[code]
This falls back to the same issue as other menus/search e.t.c. The json must be structured if you gonna get any consistency between apps. This is a priority and custom-ability comes as far, far second. (But might still be a possibility). For launcher,

[2015-12-10 05:23] malx122 commented on #177
For the menu itself, our implementation looks like:
[code]
Where the _getItems function is
[code]
This has a drawback. It actually breaks the polymer update system inside the repeat. It not a big issue though, since menu items seldom changes while showing. (I also have a workaround if needed)

[2015-12-10 05:31] malx122 commented on #177
The last part is showing the selected. Our settings menu are on the left (since our head menu is on the top) and is always showing, Therefore we wanted to show the current setting as selected.

I designed a url-watcher:
[code]
This one updates model._url with the "window.location.href". It actually uses a timer since there are no reliable events that works on all browser and with all methods of up

[2015-12-10 11:31] miyconst commented on #157
As pointed out by @tomalec, css-grid can work in IE, and `dom-bind-notifier` can work with `Object.observe` + `Array.observe` shims.

FF still requires css-grid shim, but in IE it should work. Reopening the issue.

https://github.com/Juicy/juicy-tile-editor/issues/91

[2015-12-11 09:33] andwah opened #179 "Duplicated juicy-redirect?"
Should juicy-redirect be included in the launcher and in starcounter clientfiles? at the moment this is the case.

[2015-12-11 10:08] warpech commented on #179
Every app should include it's own dependencies, so yes.

[2015-12-11 11:35] andwah commented on #179
how do i make sure that my app /sys/juicy-redirect  is loaded and not starcounter /sys/juicy-redirect
they may have different versions?
I guess no apps should put stuff in /sys folder.

[2015-12-11 14:30] tomalec commented on #157
Please not the `Object.observe` is being removed from chrome as well https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/12NbuZ4BB7A

[2015-12-11 14:40] miyconst commented on #157
Thanks for noting that. The shims are now included in Launcher and should work in Chrome before we get `puppet-dom-bind-notifier`.

[2015-12-12 09:11] warpech opened #180 "AddFilterToMiddleware is deprecated"
`AddFilterToMiddleware` is deprecated. Use `AddRequestFilter` instead. More info: https://github.com/Starcounter/Starcounter/issues/2969

[2015-12-14 08:09] miyconst commented on #178
Not relevant any more.

[2015-12-14 08:09] #178 closed

[2015-12-14 15:04] tomalec commented on #159
I have added issue on juicy repo https://github.com/Juicy/juicy-tile-grid/issues/29
With full list of CSS Grid & Shadow DOM support.

CSS Grid works fine in IE, but there are other issues that might be tracked under https://github.com/StarcounterSamples/Launcher/issues/175

[2015-12-14 17:00] tomalec commented on #179
I would say, that is why no other app should rely on what in in Launcher, but I would say that apps (in this case Launcher) may rely on what is included in Starcounter.
So as Launcher does not include `fast-json-patch` it may import it relying on Starcounter's /sys

[2015-12-15 18:59] andwah commented on #179
So why does launcher inject stuff in \sys folder? If two apps will put a file in the \sys folder with the same file name but different content one file will override the other, then we will get different result depending on the order we start the apps i guess.

[2015-12-16 23:11] tomalec commented on #179
1. To make conventional bower dependencies work. Usually HTML Imports loads dependencies from `../` which in this case points to `/sys`
2. Sometimes (`<launcher-include>`) we do so to overwrite in purpose existing content (`<starcounter-include>`

We still need to find good solution to avoid accidental collisions. :/

[2015-12-17 16:36] miyconst commented on #175
@tomalec is this issue a duplicate of https://github.com/StarcounterSamples/Launcher/issues/157?

[2015-12-17 20:43] tomalec commented on #175
Well #157 was originally about `Object.observe` and `dom-bind-notifier`. To say that "we support IE" it might be not enough.

[2015-12-17 21:42] miyconst commented on #175
Anyway, this issue can be closed, as Launcher now works in IE, and `juicy-tile-editor` has its own issue: https://github.com/Juicy/juicy-tile-editor/issues/91

[2015-12-18 09:17] tomalec commented on #175
Thanks

[2015-12-18 09:17] #175 closed

[2016-01-12 10:36] miyconst opened #181 "Partials without layout keep using layout from previously loaded partial"
If an app (Products) has two partials, one with layout setup, another one without any setup, then the following issue occurs:

1. Open the partial with layout setup.
2. Redirect to partial without layout setup with `puppet-redirect`.
3. The new loaded partial keeps using the setup from the partial in step 1.

By @tomalec on HO

[2016-01-12 10:53] tomalec commented on #181
1. Go to http://douglas-11.mysampleapp.com/products:
    - Products page (`PartialId: '/Products/viewmodels/ProductListPage.html'`) content is loaded as `/workspaces/0/Products/CurrentPage`,
    - no layout gets attached as there is no layout specified yet.
2. Redirect to http://douglas-11.mysampleapp.com/products/product/K
  - Product page is loaded (`PartialId: '/Products/viewmodels/EditProductP

[2016-01-13 09:40] Starcounter-Jack opened #182 "Launcher is not a sample"
The launcher appears to be a sample app whereas it is rather a prefab app. Consider changing organisation.

**Samples** sacrifice functionality and size/organisation to be small and simple. Their primary purpose is teaching. Samples might be used in production but not at the cost of being small and simple. Often they are used as a starting point.

**Prefabs** prioritise quality and are complete/fu

[2016-01-13 09:41] Starcounter-Jack opened #183 "The top level padding/margin/gutter is not editable."
The margin of the topmost container in launcher is not editable.

[2016-01-13 09:46] Starcounter-Jack opened #184 "Graphics indicate that buttons are inactive although they are not"
The style of the gray buttons indicate them being disabled rather than deselected. Better toggle button UX is needed.

<img width="220" alt="screenshot of google chrome 13-01-16 10-45-34" src="https://cloud.githubusercontent.com/assets/1219049/12290558/ccee30d6-b9e2-11e5-8bb0-af34f324b25e.png">

[2016-01-13 09:59] Starcounter-Jack opened #185 "Strange behaviour when setting outer html container to 100% width"
Example is product app when resizing browser.

[2016-01-13 10:12] Starcounter-Jack opened #186 "Strange behaviour when clearing layout"
Sometimes clearing does not work. I will try to add info to recreate later.

[2016-01-13 10:13] Starcounter-Jack opened #187 "What does height 100% mean"
What is the meaning of setting the height to a 100%?

[2016-01-13 10:17] Starcounter-Jack opened #188 "Resize with content does not do anything"
Although i check this:

<img width="193" alt="screenshot of google chrome 13-01-16 11-16-45" src="https://cloud.githubusercontent.com/assets/1219049/12291379/2d2b0718-b9e7-11e5-8421-ee2e2f44551f.png">

The button remains 954 pixels.

<img width="389" alt="screenshot of google chrome 13-01-16 11-17-11" src="https://cloud.githubusercontent.com/assets/1219049/12291386/32bdea1a-b9e7-11e5-8533-3f9719b4

[2016-01-13 10:21] Starcounter-Jack opened #189 "Groups should be tight by default"
I think the tight behaviour is more logical for nested groups as default.

[2016-01-13 14:35] warpech commented on #173
I am taking this on me.

I will propose a consistent hybrid JSON + HTML solution for Launcher's:
- menu
- launchpad
- search

[2016-01-13 16:37] diliger opened #190 "Both applications appears on one screen"
When multiple applications with similar name started launcher displays both of them.

I'v installed the Procurement application and have application named ProcurementStats,
when i navigate to ProcurementStats after Procurement then ProcurementStats turns visible but Procurement still appears on the screen.

Here is a screenshot:
![two applications on one screen](https://cloud.githubusercontent.com

[2016-01-13 16:38] miyconst commented on #190
Yeah.. this is quite an issue. I will fix that.

[2016-01-14 09:03] miyconst commented on #190
Fixed.

[2016-01-14 09:03] #190 closed

[2016-01-15 13:44] tomalec commented on #188
But how would you like it to resize?
It was packed to be 100% => occupy entire row
You also marked "resize-with content" which means that when your content will change, your tile wil streatch to make it fit.

Maybe you meant to (pre-) calculate?

[2016-01-15 13:44] tomalec commented on #187
to occupy 100% of a parent height

[2016-01-20 09:06] miyconst commented on #157
Launcher works in IE, `juicy-tile-editor` has it's own issue. Closing this one.

[2016-01-20 09:06] #157 closed

[2016-01-21 18:02] tomalec commented on #169
Another catch is that we may notice a blink due to precalculate in juicy tile list, as before refresh, and repack, `-list` resets all ShadowDOM styles to get somewhat intrinsic dimension

[2016-01-22 12:01] tomalec opened #191 "Default layout for tiles"
As discussed today on a meeting by @Starcounter-Jack, @warpech, @miyconst, and @tomalec, we would remove `precalculate*` feature and phase from `juicy-tile-*`(, or at least `-table`, and `-grid`)

The main reason is to remove the FOUC, and improve performance and experience  on page load.

The constraints are:
- we would like to serve something that makes sense even if no layout, metadata, hinds a

[2016-01-22 12:10] tomalec commented on #191
The doubts that came into my mind are:

1. Should we implement it also in `-grid`, or just leave it  until CSS Grid support comes? I think it's worth to keep it in `-list`, as with absolute positioned layout, we wold probably need to precalculate tile on resize to achieve "grow with content" behavior.
2. Should our magic value be:
 1. `undefined` gives the semantic meaning, but it would be hard to

[2016-01-22 12:20] miyconst commented on #191
1. I think we should not spend time on `juicy-tile-grid` for now, and should not remove these features from `juicy-tile-list`.
2. I like the `iii` and `iv` options with a little favour to `iii`.
3. Don't have enough input to have an opinion. `1px` is too small, what if we use `10px` instead?

[2016-01-24 16:33] Starcounter-Jack opened #192 "New UI for blending editor"
Normally, users are expected to use the blending editor in the simplified mode. In this mode, the user chooses media range, the width of the widget and the relative order of the widget.

![blendingeditor](https://cloud.githubusercontent.com/assets/1219049/12537711/1bb779c0-c2c6-11e5-9618-403317301999.png)

[2016-01-24 16:55] Starcounter-Jack commented on #192
The pixel size of the responsive media ranges changes according to the relative size of the partial. I.e. if the size of the partial is approximately 50% of the size of the browser, the pixel sizes are halved.

![capture](https://cloud.githubusercontent.com/assets/1219049/12537622/8f1fb5d8-c2c3-11e5-8b4d-abbd162b757f.PNG)

![closeup2](https://cloud.githubusercontent.com/assets/1219049/12537623/90a

[2016-01-24 17:02] miyconst commented on #192
@Starcounter-Jack can you also make an image with opened "advanced" block?

Here http://juicy.github.io/juicy-tile-editor/simple.html you can see what is included under "More" and "Advanced" buttons.

[2016-01-24 17:13] Starcounter-Jack commented on #192
Will do

[2016-01-24 20:22] warpech commented on #192
@Starcounter-Jack nice! do you have an SVG or AI for that?

[2016-01-24 20:53] tomalec commented on #192
Cool! :)

Theoretically partial size may also be highly flexible, but I think for basic view, providing defaults in such way should be really enough, as long, as:

The other question is that we would not be able to react on partial re-sizes within parent's range without element-queries, but we could react once parent is repacked due to it's media-query tick.

Maybe we could make something to empha

[2016-01-25 06:06] Starcounter-Jack commented on #192
Adobe Illustrator file:

https://www.dropbox.com/s/x9aixg36xqhpzkq/BlendingEditor.ai?dl=0

[2016-01-25 09:53] warpech commented on #192
Thanks! For the AI! (@miyconst: @andwah should be able to convert it to other formats)

Isn't it now obvious that the UP (▲) buttons moves elements closer to the top and DOWN (▼) closer to the bottom? For me that's more obvious than the hot/cold methaphor.

Please let's not discuss breakpoint architecture in this issue, because this will get really messy up here. @tomalec I propose that you write

[2016-01-25 09:56] warpech commented on #169
On Friday's meeting it was discussed that default settings will be width 100%, height `unknown` (interpreted as 1px, grow with content). Without `precalculate`.

When the layout editor is opened for the first time, layout editor will automatically apply `calculate` to all height `unknown`.

[2016-01-25 10:02] miyconst commented on #192
Agree. For me colors would be even more confusing.

I can look for some online tools, but I don't have PS or AI.

@Starcounter-Jack how this image should zoom to 1920 px width screen? It looks huge when stretched to the entire width. Can you provide some dimensions?

[2016-01-25 10:07] warpech commented on #192
@andwah has AI, so he's better than any online tool :)

[2016-01-25 10:20] tomalec commented on #169
`precalculate*` issue is tracked at https://github.com/StarcounterSamples/Launcher/issues/191

[2016-01-25 10:27] andwah commented on #192
@warpech where do you want me to put the converted file?

[2016-01-25 10:29] miyconst commented on #192
@andwah could you please save each element as an png icon and put to dropbox?

[2016-01-25 10:42] per-samuelsson commented on #192
Me too.

Nice flicks @Starcounter-Jack.

[2016-01-25 10:44] per-samuelsson commented on #182
Somewhat relate to #151 and https://github.com/Starcounter/CompanyTrack/issues/142.

[2016-01-25 11:46] warpech commented on #182
...and https://github.com/Starcounter/CompanyTrack/issues/171

As agreed with @miyconst, I will create a new organisation StarcounterPrefabs and move there the prefabs from the list (Starcounter/CompanyTrack#142).

An alternative idea was to put prefabs to the Starcounter organisation, but this would mix the platform and the apps.

[2016-01-25 12:05] warpech commented on #182
I copied the explanation of Samples vs Prefabs from the first post to GitBook.

[2016-01-25 15:47] miyconst commented on #192
Parent issue: https://github.com/Juicy/juicy-tile-editor/issues/98

[2016-01-25 23:07] tomalec commented on #169
Yet another chromium issue that causes blinking, and requires ugly workarounds https://code.google.com/p/chromium/issues/detail?id=581176

[2016-01-26 10:34] mattiasmak opened #193 "Add layout elements in editor"
I see the need to add simple layout elements such as space, line and labels in the editor. This would help to create clean interfaces.

Now it's like trying to make a large text readable without the ability to add paragraphs.

So with just a space, line and perhaps labels element would change the editor from night to day for me.

[2016-01-26 12:46] Starcounter-Jack commented on #192
![blendingeditor-simple](https://cloud.githubusercontent.com/assets/1219049/12580856/35bda7a4-c433-11e5-84b2-4456480ae6c8.png)
![blendingeditor-expert](https://cloud.githubusercontent.com/assets/1219049/12580857/35c17fd2-c433-11e5-97a9-0c49ca00f329.png)

[2016-01-26 13:17] miyconst commented on #192
I like it! The only thing which confuses me is tab selection. Looks like "out of design".

@andwah could you please cut the icons off the AI file and save in png format?

[2016-01-26 13:29] andwah commented on #192
@miyconst Sure,

[2016-01-26 13:33] andwah commented on #192
@miyconst How do you want this part cut?

![image](https://cloud.githubusercontent.com/assets/2656996/12581879/b4704b50-c439-11e5-9fa9-c943bfc608f6.png)

[2016-01-26 13:44] miyconst commented on #192
@andwah no, I don't need that. It could be done with css, even though I don't yet understand what it shows :)

[2016-01-26 13:51] andwah commented on #192
@miyconst You can find the images in my dropbox/BlendingEditor folder

![arrow down](https://cloud.githubusercontent.com/assets/2656996/12582226/16f9986a-c43c-11e5-96a3-b145a64cee24.png)
![arrow down selected](https://cloud.githubusercontent.com/assets/2656996/12582230/16fcce18-c43c-11e5-9766-1f6051c72344.png)
![arrow up](https://cloud.githubusercontent.com/assets/2656996/12582229/16fcb676-c43c-11

[2016-01-26 13:51] miyconst commented on #192
Good! Thank you!

[2016-01-26 13:52] warpech commented on #192
I think we should really use SVG not PNG.

[2016-01-26 13:58] andwah commented on #192
Exported the images in  PNG and SVG format, files can be in my dropbox "BlendingEditor" folder.

[2016-01-26 13:58] warpech commented on #192
Super, thanks!

Regarding Outline and Fill, they should show the current color choice.

Readability of black text on dark background can be achieved by putting an SVG glow around the text or by using [simple JavaScript color inversion](http://stackoverflow.com/questions/11867545/change-text-color-based-on-brightness-of-the-covered-background-area) ([demo](http://jsfiddle.net/PXJ2C/))

[2016-01-26 14:44] jwillmer commented on #179
FYI: At the moment juicy-redirect is not included in the launcher sys files. Only setup as source in bower.

[2016-01-26 15:13] tomalec commented on #192
I'd like to note that techically size given in % and px could be as well fixed and flexible. Are we going to expose this feature in the editr, or do we assume that % means flexible and if someone would like to make a tile one third of a size of its 1235wide container, but fixed, he would need to calculate it by his own?

[2016-01-26 16:06] miyconst commented on #192
@tomalec I think, the "Grow with parent" button is "flexible" checkbox, so we do expose this feature.

[2016-01-26 16:21] tomalec commented on #192
Sorry, my bad, then we probably do not expose `*Adaptive` - grow with siblings (within row/col), but as I'm not yet 100% sure if it will be fully supported in `-table`, maybe we should not bother about it much

[2016-01-26 21:04] Starcounter-Jack commented on #193
I totally agree. We will discuss it on our layout editor meeting tomorrow. Could you attend on our hangout at 11:30.

Sent from my iPhone

[2016-01-27 09:03] mattiasmak commented on #193
I can attend.

[2016-01-28 08:47] jwillmer opened #194 "AddFilterToMiddleware problem"
If I have an app with the app name ```StorageManagement``` and I create a mapping to my pages with a synonym for the app name like ```stm``` the page will not be displayed in the launcher because the launcher tries to find a app with the name ```stm```.

ProjectName: ```StorageManagement```
```Handle.GET("/stm/example", () => { return new ExamplePage(); });```

Problematic code:
[code]

[2016-01-28 11:15] miyconst commented on #192
- Rename Group and Ungroup to Box and Unbox.
- Add possibility to create empty boxes. The Box button should be a dropdown with items box selection, new line.

[2016-01-28 11:24] warpech commented on #193
@mattiasmak We decided on our own, but I hope this precisely answers your needs!

We will rename the "Group" button to "Box". There will be two additional options available in a dropdown:

1. Empty box (100% x 50px, transparent background)
2. Line (100% x 1px, black background)

The dimensions and colors are just defaults that you can later edit using the regular controls. Technically, an empty bo

[2016-01-28 13:59] alemoi commented on #194
Thank you for the question! Previously we had an enforcement that all application handlers should start with an appname, for example: "/StorageManagement/menu". Launcher uses this information when wrapping and relies on this. I looked at the code and a lot is based on this assumption, including layouts and workspaces. What do you think @warpech ?

[2016-01-28 14:04] alemoi commented on #194
I can possibly add an application name property to Request object identifying the application to which this request belongs.

[2016-01-28 14:06] per-samuelsson commented on #194
Does that really make sense? Couldn't middleware just access that from `Application.Current.Name`?

[2016-01-28 14:07] per-samuelsson commented on #194
I mean, the idea is that middleware should be isolated on app-level, isn't it? So that MW registered by an application is executed only in that context. No?

[2016-01-28 14:14] alemoi commented on #194
The application would be Launcher in this case, since request filter is registered by Launcher app.

[2016-01-28 14:15] warpech commented on #194
Thanks for reporting!

Currently, it is assumed in more than one place that the first segment of the URL is the same as the name of the exe. We have a flag that actually enforces it (see `EnforceURINamespaces` at http://starcounter.io/guides/database/database-configuration/). But we should not actually assume it. The only reason for this should be to make sure that two apps don't accidentally try

[2016-01-29 00:55] Starcounter-Jack commented on #193
Sorry Mattias. I missed you reply. We are finishing a new editor. We decided to add the possibility to add boxes and lines in the first release.

Sent from my iPhone

[2016-01-29 10:41] warpech opened #195 "Remove text regarding CSS Grid Layout"
@MLidstrom suggested that the popup message right now is very misleading because it mentions Chrome & Opera, even if you open it in Firefox.

Solutions:

1. Give a more sensible message about supported (Edge, Chrome, Opera) and not supported (Firefox and Safari) browsers.
2. Change the headers from "This app" to "Launcher app", because it is hard to guess which app is showing the error.

[2016-02-08 11:52] miyconst commented on #192
I am closing this issue as it is too long and in Launcher repository. Let's use https://github.com/Juicy/juicy-tile-editor/issues for tracking issues and split them into many small items instead of one huge.

[2016-02-08 11:52] #192 closed

[2016-02-08 11:54] miyconst commented on #188
I think this issue should be closed as we designed new 3x3 control. https://github.com/Juicy/juicy-tile-editor/issues/121

[2016-02-08 11:54] #188 closed

[2016-02-08 11:55] miyconst commented on #187
The height in % works only if the parent container has fixed height in px. The question is answered. Closing the issue.

[2016-02-08 11:55] #187 closed

[2016-02-08 11:55] miyconst commented on #186
The issue was fixed in the new editor.

[2016-02-08 11:55] #186 closed

[2016-02-08 11:56] miyconst commented on #182
Launcher is now moved to StarcounterPrefabs. Closing this issue. @warpech open it, if you disagree.

[2016-02-08 11:56] #182 closed

[2016-02-08 11:56] miyconst commented on #189
Fixed in the new editor.

[2016-02-08 11:56] #189 closed

[2016-02-08 11:58] miyconst commented on #183
Tracked in here: https://github.com/Juicy/juicy-tile-editor/issues/115, point 2.

[2016-02-08 11:58] #183 closed

[2016-02-08 15:16] warpech commented on #182
:+1:

[2016-02-09 11:33] warpech commented on #106
We should only do Selenium test at this moment in Launcher, because other tests are covered by platform tests. Launcher is strictly UI based.

[2016-02-17 10:35] warpech commented on #195
Since Launcher 3.1.0, CSS Grid Layout is no longer used. I will remove this popup.

[2016-02-17 10:47] warpech opened #197 "Remove merged*example"
@tomalec, can the following files be removed or moved to wiki/gitbook?

https://github.com/StarcounterPrefabs/Launcher/blob/master/mergedHTMLexample.html
https://github.com/StarcounterPrefabs/Launcher/blob/master/mergedJSONexample.json

[2016-02-17 10:53] warpech commented on #195
I removed the following chunk:

[code]

[2016-02-17 10:53] #195 closed

[2016-02-17 17:50] warpech opened #198 "Launchpad displays huge icons"
Since switching to `juicy-tile-table`, Launchpad displays huge icons.

Testable with Launcher + InvoiceDemo3 (as well as a lot of other apps).

@tomalec can you pls take a look?

![2016-02-17 18_49_06-launcher](https://cloud.githubusercontent.com/assets/566463/13119019/48049a3c-d5a7-11e5-875c-24fccfaf3b0a.png)

[2016-02-17 20:20] tomalec commented on #198
It's because Launchpad was not migrated to use `juicy-tile-table`

[2016-02-17 20:35] #198 closed

[2016-02-18 15:09] warpech commented on #198
Thanks!

[2016-02-19 09:29] miyconst opened #199 "Remove old branches"
@warpech, @tomalec we have a bunch of old branches in Launcher.

I have removed:

- `polymer1` - made by be.
- `juicy-tile-table` - merged by me.

And those left:

- [x] `issue-82` *Updated 2 years ago by @tomalec*
- [ ] `issues/164` *Updated 4 months ago by @tomalec*
- [x] `NoiseApp` *Updated 2 years ago by @tomalec*
- [x] `master-nuget` *Updated 11 months ago by @parherman*
- [ ] `workspace-fix`

[2016-02-19 09:36] miyconst commented on #193
The new editor has `Empty box` and `Black line` features:

![image](https://cloud.githubusercontent.com/assets/6435556/13171708/85ca9b20-d6f4-11e5-879d-3132d44a652b.png)

Both elements are just empty groups, both can change size and background color.

Closing the issue.

[2016-02-19 09:36] #193 closed

[2016-02-19 09:39] miyconst commented on #185
As I understand the "outer html container" is a `juicy-tile-list`. The list itself does not support width, and the field represents "first break point" value. That is why it had such a strange behavior.

The new editor is here, no longer possible to enter manual value for first break point. Closing the issue.

[2016-02-19 09:39] #185 closed

[2016-02-19 09:41] miyconst commented on #179
@tomalec this is fixed, right?

[2016-02-19 09:48] #180 closed

[2016-02-19 09:49] miyconst commented on #159
@warpech can we close this issue as we use `juicy-tile-table`?

[2016-02-19 09:49] miyconst commented on #158
No longer relevant, Launcher now uses `juicy-tile-table` which works in all browsers.

[2016-02-19 09:49] #158 closed

[2016-02-19 09:52] miyconst commented on #144
@warpech can this issue be closed keeping in mind the new editor?

[2016-02-19 09:52] miyconst commented on #150
@warpech have you met this bug recently?

[2016-02-19 09:53] miyconst commented on #139
The new editor highlights the editable area. Should no longer be an issue.

[2016-02-19 09:56] miyconst commented on #102
@warpech this is already fixed, correct?

[2016-02-19 10:14] #101 closed

[2016-02-19 10:18] miyconst commented on #90
@tomalec is this issue still up to date?

[2016-02-19 10:22] miyconst commented on #88
Another input:

Right now we have this [map](https://github.com/StarcounterSamples/SignIn/blob/master/src/SignIn/Api/MainHandlers.cs#L62):

[code]

Which maps sign in form to `/sc/mapping/userform` and in the apps which require authentication do like this:

[code]

This pattern is used in Website, Content, Warehouse, SweOffshore apps.

[2016-02-19 10:23] miyconst commented on #84
What is `<static-openstreetmap>`?

[2016-02-19 10:26] miyconst commented on #83
This issue was fixed in since this commit: [Don't render svg if its path has not been changed](https://github.com/Juicy/juicy-highlight/commit/fb2ed9a7038fe4fff56de6d98774b990a52a388e).

[2016-02-19 10:26] #83 closed

[2016-02-19 10:27] miyconst commented on #81
Done in the new editor.

![image](https://cloud.githubusercontent.com/assets/6435556/13173052/b36cd6e0-d6fb-11e5-8085-ad270699a90c.png)

[2016-02-19 10:27] #81 closed

[2016-02-19 10:28] miyconst commented on #75
@Starcounter-Jack, @tomalec is this issue still up to date?

[2016-02-19 10:28] miyconst commented on #59
It was decided to remove this functionality in the new editor.

[2016-02-19 10:28] #59 closed

[2016-02-19 10:29] miyconst commented on #58
It was decided to remove this functionality in the new editor. Instead the sidebar always stays at the right side, but user can hide it with a toggle button.

[2016-02-19 10:29] #58 closed

[2016-02-19 10:30] miyconst commented on #56
We don't have width/height increment button in the new editor. Should this logic be applied to gutter and oversize?

[2016-02-19 10:32] miyconst commented on #53
@warpech is this issue is still up to date? I don't see a reason why should `<input type="text" />` and `<textarea></textarea>` be on transparent background.

[2016-02-19 10:32] miyconst commented on #51
@tomalec, @warpech is this issue still up to date?

[2016-02-19 10:33] miyconst commented on #37
@warpech is this issue still up to date?

[2016-02-19 10:34] miyconst commented on #16
@warpech this is is outdated, right?

[2016-02-19 10:35] miyconst commented on #14
@tomalec is this issue still up to date?

[2016-02-19 10:36] miyconst commented on #5
Can this issue be closed? As of today, we require to put all static resource into a folder with app name.

[2016-02-19 10:36] miyconst commented on #33
It might be right time to address this issue.

[2016-02-19 11:34] warpech commented on #33
I think that this issue was a conceptual grandparent for https://github.com/Starcounter/RebelsLounge/issues/14 and can be closed now. @tomalec do you agree?

[2016-02-19 11:52] warpech commented on #5
The issue was started by @tomalec to acknowledge that putting all static resources in a folder called with an app name was a *workaround* rather than long term solution. But fact is, there is no other solution so let's close this issue.

It is already described in .io pages:

- http://starcounter.io/tutorials/1-introduction-to-part-1/1-3-create-request-handlers-for-the-home-page/
- http://starcoun

[2016-02-19 11:54] warpech commented on #14
Noise app was archived and is not available anymore. This issue is outdated and the problem is already tracked in https://github.com/Starcounter/Starcounter/issues/1568. Besides, it should be solvable with middleware filters.

[2016-02-19 11:54] #14 closed

[2016-02-19 11:55] warpech commented on #16
Yes, this is totally outdated. The filter in topic was never implemented and was removed from the UI more than a year ago.

[2016-02-19 11:55] #16 closed

[2016-02-19 11:57] warpech commented on #37
This issue was about a way to change the padding around the outermost `juicy-tile-grid` in the layout editor. But this is not feasible, it needs to be done in Launcher's CSS. Closing

[2016-02-19 11:57] #37 closed

[2016-02-19 11:57] warpech commented on #51
Let's focus on having a single Launcher that works well :)

[2016-02-19 11:57] #51 closed

[2016-02-19 12:24] warpech commented on #53
The reason for this issue was that if I have an `<input>` and decided to change the grid cell background to orange, I end up with an orange background with a big white rectangle.

But I agree we should not apply any magic.

Our current Bootstrap theme (Bootswatch Paper) actually sets the background to all `.form-control` to be `transparent`, so this is indirectly fixed.

Regular Bootstrapp sets `.

[2016-02-19 12:24] #53 closed

[2016-02-19 14:18] warpech opened #200 "People app does not show up after restart"
I have quite a peculiar problem. It is 100% reproducible for me.
1. Pull and build Launcher (current master - https://github.com/StarcounterPrefabs/Launcher/commit/7bd6d3e2fda78e18853e71f91bfc665d97c88ff4) and People (current master - https://github.com/StarcounterSamples/People/commit/52e0f76cb1ef461816eea6bfc818ccdc1df96cba)
2. Start Starcounter
3. Clean styles (`DELETE http://localhost:8080/sc/

[2016-02-19 14:19] warpech commented on #200
@miyconst I need your help with this. Please let me know if you can reproduce it.

[2016-02-19 14:22] warpech commented on #200
It seems that the namespaces in the merged JSON file are sometimes camelcase (when starting from VS) and sometimes lowercase (when starting from the batch file). This might be the reason.

[2016-02-19 14:43] warpech commented on #200
Yeah, I can confirm that this is because `juicy-tile-list` is totally confused by Starcounter not normalizing the executable name from the CLI:

![2016-02-19 15_41_48-launcher2](https://cloud.githubusercontent.com/assets/566463/13178506/7bbc812c-d71f-11e5-93fb-71dd59332b97.png)

![2016-02-19 15_39_45-launcher1](https://cloud.githubusercontent.com/assets/566463/13178437/33c1385e-d71f-11e5-9ddf-624f

[2016-02-19 14:55] warpech commented on #200
What adds some spice to the problem is that Launcher 3.0.14 was immune to this problem.

Launcher 3.1.0 (first version that supports `juicy-tile-table`) and `master` are sensitive to it.

@tomalec can you think of any reason for this?

[2016-02-19 15:01] warpech commented on #200
I created a related issue in Starcounter: https://github.com/Starcounter/Starcounter/issues/3394

[2016-02-19 15:03] warpech commented on #56
Gutter and oversize should increment and decrement by 1.

This issue is made obsolete by the simple layout editor. Closing

[2016-02-19 15:03] #56 closed

[2016-02-19 15:07] per-samuelsson commented on #200
I commented on the Starcounter tracker.

[2016-02-19 15:12] warpech commented on #84
A relic of the past :)

[2016-02-19 15:12] #84 closed

[2016-02-19 15:17] warpech commented on #102
Not really. This issue what about composing a merged layout of of saved partial layouts. Let's close this because there are no action points.

[2016-02-19 15:17] #102 closed

[2016-02-19 15:17] warpech commented on #139
I agree. Closing

[2016-02-19 15:17] #139 closed

[2016-02-19 15:18] warpech commented on #150
Not exactly the same one. Closing

[2016-02-19 15:18] #150 closed

[2016-02-19 15:22] warpech commented on #144
The new editor didn't solve the problem:

When you are editing the layout of a *nested nested nested* partial, then you are limited by the size of the *nested nested parent*. The controls for the responsive breakpoint only affect the root level, so they are not helpful either.

Launching the layout editor in a new window would solve the problem, but is super complex to achieve, so we should not co

[2016-02-19 15:22] warpech commented on #159
Yes, definitely

[2016-02-19 15:22] #159 closed

[2016-02-19 15:26] warpech commented on #199
My branch `workspace-fix` is still relevant for the issue https://github.com/StarcounterSamples/GoogleSignIn/issues/6. I will try to close the issue and then remove the branch

[2016-02-19 17:55] tomalec commented on #179
Yes. It is included in Starcounter's `/sys` https://github.com/Starcounter/Starcounter/tree/develop/src/BuildSystem/ClientFiles/StaticFiles/sys and in [Launcher's `bower.json`](https://github.com/StarcounterPrefabs/Launcher/blob/master/src/Launcher/bower.json) as it is required, but it is not attached to Launcher's sys,  as it is marked as ignored in [`.bowerrc`](https://github.com/StarcounterPref

[2016-02-19 17:55] #179 closed

[2016-02-19 19:01] warpech opened #201 "Error in Firefox, menu items are not sorted"
Left menu items (`launcher-menu.html`) are not sorted alphabetically in Firefox. Might be due to the JavaScript error visible in the console.

Works OK in Chrome and Edge

Tested with Launcher master, People master, Images 3.0.5, Products 3.0.4

<img width="1552" alt="screen shot 2016-02-19 at 19 56 04" src="https://cloud.githubusercontent.com/assets/566463/13185813/6bc3975a-d743-11e5-87cf-5899873

[2016-02-19 19:01] warpech commented on #165
Fixed. Tested in Chrome and Edge.

Not testable in Firefox due to an error #201

[2016-02-19 19:01] #165 closed

[2016-02-19 20:02] tomalec commented on #90
@warpech It's solved by your implicit standalone mode, isn't it?

The only question is what about improvements of check whether it's a partial or not.

[2016-02-19 20:36] tomalec commented on #75
Right now we do have Shadow DOM wrappers, so we can attach custom CSS to the tiles.

I think we still aim to render plain CSS, that could be changed/overwritten by advanced designer.

[2016-02-19 20:49] tomalec commented on #33
Yep, that is probably a grandparent :)

However I think, this issue adds a fair point, that we may consider adding all elements given by an app, into a group, if  we do not want to do so, we can close this issue.

[2016-02-19 20:53] tomalec commented on #5
What about `/sys` folder? We use it as a feature in SysUpgrade app, but, this may be a problem when we will run many apps, from vendors that didn't agree on set of shared dependencies, and they may add same library with different version, or different library with same name, what may crash the other apps.

[2016-02-22 09:11] tomalec commented on #200
I suspect the reason that `juicy-tile-list` is more sensitive to that it uses latest `juicy-tile-list` which shorten, and changed the flow for setup reading, but I'll investigate it deeper.

[2016-02-22 09:22] tomalec commented on #199
- `issue-82` - removed, I hope pending `juicy-tile-list` tests na "EVENTUALLY" in successful ones reminds enough to do proper fix for this once https://bugs.chromium.org/p/chromium/issues/detail?id=389566 will be fixed.
- `NoiseApp` - removed, as we no longer support Noise App, and hopefully this workaround is not valid any longer.

[2016-02-22 09:26] tomalec commented on #199
I have also removed:
- `puppet-polymer-client` as now it is solved by SysUpgrade app
- `issues/164` as it was merged

[2016-02-22 09:31] tomalec opened #202 "Launchpad is not editable"
After /deep/` selector been deprecated by W3C and changes made in simpler layout editor, `juicy-tile-*` from `<launcher-launchpad>` is no longer visible to the editor.
To mek it editable, we need to expose it to the light DOM.

[2016-02-26 08:29] warpech opened #203 "Connection error on page reload"
When I reload the page in FF, the "Connection error" popup appears for a second.

<img width="1421" alt="screen shot 2016-02-26 at 09 28 10" src="https://cloud.githubusercontent.com/assets/566463/13347059/547fd752-dc6b-11e5-8c68-0ad7b19640a8.png">

[2016-02-26 08:37] #201 closed

[2016-02-26 08:37] warpech commented on #201
Done.

This was because `launcher-menu.html` was using a non-standard `innerText` property.

[2016-02-29 10:45] warpech opened #204 "Unable to select a tile in the layout editor"
Using current versions of Starcounter develop, Launcher and Products, I am unable to select a tile in simple editor.

I have an idea for a fix and will post it soon.

The problem originates from the clash of:
- the commit: https://github.com/StarcounterPrefabs/Launcher/commit/8436ed62e8fe7bb62e37990b3517aa27c62d6843
- with the binding from [LauncherTemplate.html#L111](https://github.com/Starcounte

[2016-02-29 10:52] warpech commented on #204
My attempt fixes the JS exception. But still I cannot select a single tile in the layout editor.

I cannot select deeper than this:

<img width="1436" alt="screen shot 2016-02-29 at 11 51 19" src="https://cloud.githubusercontent.com/assets/566463/13392442/d326a3c6-deda-11e5-9b43-d6dcfcfd5217.png">

@miyconst can you give it a try?

Using Starcounter 2.1.1316 and current `master` branches of Launch

[2016-02-29 11:26] miyconst commented on #204
This is due to old setup which was applied for `juicy-tile-grid`, not table.

@warpech can you confirm that resetting styles works for you?

[2016-02-29 13:18] warpech commented on #204
Resetting styles fixes the problem. I don't like that it is needed. @tomalec any idea why resetting styles is needed?

[2016-02-29 15:30] tomalec commented on #204
Wow, it looks strange, for mee it seems not related to the setup. Even if I replace the setup in source tab with same one, it works.

[2016-02-29 16:55] tomalec commented on #204
@miyconst Does editor support loose groups? I think that is the reason, as `j-t-t` renders things right, and editor works fine besides the fact it does not highlight loose group - probably because there is no single tile to select, we need to buiild highlight rectangle manually.

And the lack of double click effect for nested tiles is probably also because of lack of support in the editor.

[2016-02-29 17:19] miyconst commented on #204
Thanks for noting this out. The editor supported it some time ago, but was not tested for long time. I will check and fix it.

[2016-03-01 10:25] miyconst commented on #204
Moved the issue to `juicy-tile-editor`: https://github.com/Juicy/juicy-tile-editor/issues/134.

[2016-03-01 10:25] #204 closed

[2016-03-01 13:42] miyconst commented on #199
`master-nuget` removed, @parherman no longer works for Starcounter.

[2016-03-02 18:07] miyconst commented on #199
The `master-alexey` branch was removed by @alemoi, only `issues/164` from @tomalec left to close this issue.

[2016-03-02 21:57] tomalec commented on #199
Removed, sorry I thought, I've removed it earlier.

[2016-03-02 21:57] #199 closed

[2016-03-08 17:13] warpech commented on #106
Selenium tests are being added to KitchenSink first: https://github.com/StarcounterSamples/KitchenSink/issues/18

[2016-03-09 17:23] tomalec commented on #164
After latest changes, launchpad is not editable again.

[2016-03-22 10:11] warpech opened #205 "Cannot morph back to launchpad"
If the page was loaded in a workspace, Launchpad does not appear.

Steps to reproduce:

1. Start Launcher and Products
2. Go to localhost:8080/products
3. Click on the "Home" icon
4. Check if you can see Launchpad icons

See:

![after](https://cloud.githubusercontent.com/assets/566463/13948102/8aa29056-f01e-11e5-8e11-d1e2d473c210.gif)

Notice that this was changed in commit https://github.com/Star

[2016-03-22 10:38] warpech opened #206 "Adapt to the new layout format"
Upgrade launcher-include to follow the new format of nested Layout information, as changed in Starcounter/Starcounter#2690

The proof-of-concept work is done on the branch https://github.com/StarcounterPrefabs/Launcher/tree/mergecallback

This includes changing launcher-include. There is a separate task for that: https://github.com/StarcounterPrefabs/launcher-include/issues/9

[2016-03-23 14:03] warpech opened #207 "Layout editor should not allow editing of pages which do not have PartialId"
Testing current master branches of Launcher and KitchenSink, it is possible to edit layouts of KitchenSink subpages (such as TextPage, etc), but it is not possible to save the changes.

This is because PartialId is `undefined`, since these pages are not loaded through `Self.GET` (see https://github.com/StarcounterSamples/KitchenSink/issues/23).

@miyconst, @tomalec can we disable editing of not sa

[2016-03-23 14:37] miyconst commented on #207
I can filter out the `juicy-tile-list` without `juicy-tiles-setup-sync`. How else can I check whether a list is savable?

[2016-03-23 16:27] tomalec commented on #207
I think we should implement it in `juicy-tile-setup-sync` or `launcher-include`, as this is the element meant to coverall client-server communication problem for layouts

For example `-setup-sync`, or `launcher-include` will mark such juicy-tile-grid as
- `disabled` if we would like to disable juicy-tile-grid features as well
- `editing-disabled` if we would like to disable editing only

[2016-03-23 17:03] warpech commented on #207
Alternatively, maybe `<starcounter-include>` should remove `juicy-tile-list` and `juicy-tiles-setup-sync` from DOM if there is no PartialId?

Related: https://github.com/StarcounterPrefabs/launcher-include/issues/10

[2016-03-23 17:20] tomalec commented on #205
It seems launcher-launchpad was not updated once we switched from layout as object to layout as string. https://github.com/StarcounterPrefabs/launcher-include/commit/d4f22311d6932fa3284e4090f3e26e65838192c3
https://github.com/StarcounterPrefabs/launcher-include/issues/9
https://github.com/Juicy/juicy-tile-editor/issues/127

[2016-03-23 17:44] warpech commented on #205
The fix doesn't seem to work for me (using Starcounter 2.1.1527 and Chrome). Could you please check again?

Not only Launchpad is affected but also the Settings page.

[2016-03-23 18:13] warpech opened #208 "Do not determine the current workspace based on the URL"
Extracted from https://github.com/Starcounter/Starcounter/issues/2902

Currently, Launcher determines the current workspace by comparing the first segment of the URL with workspace AppNames.

The code for that is here: https://github.com/StarcounterPrefabs/Launcher/blob/aca346a398529e79562fae01c6a2dfe108f359f9/src/Launcher/wwwroot/Launcher/viewmodels/LauncherTemplate.html#L110-L113

This is wrong,

[2016-03-23 18:48] miyconst commented on #207
I like this idea.

[2016-03-23 20:45] tomalec commented on #205
I was using older Starcounter, I'll check that

[2016-03-24 10:02] warpech commented on #208
I pushed a potential fix but have a problem with it. @chrhol could you please take a look? A boolean change made in `WrapInLauncher` is not delivered to the client. Maybe this is some obvious mistake by me, but I cannot find it.

I set `ActiveWorkspace` to `true` on the server:

![2016-03-24 10_59_47-launcher - microsoft visual studio](https://cloud.githubusercontent.com/assets/566463/14013966/cec

[2016-03-24 11:18] chrhol commented on #208
The problems comes from how the merger works. In some cases there can be more than one Json coming from the launcher (and actually containing the same values). So the property `ActiveWorkspaces` is correctly set to `true` in the first sibling but not updated in the second and the value will be overwritten when it comes to the client.

As a workaround I added so that `ActiveWorkspace` is set on all

[2016-03-24 12:34] warpech commented on #208
Great, thanks! Is there any issue that should be created in Starcounter for this? I want to close this issue once I merge the solution to `master`.

[2016-03-24 14:20] warpech commented on #208
Done, closing

[2016-03-24 14:20] #208 closed

[2016-03-24 14:34] warpech commented on #205
Now it works OK for me again. Sorry for bothering you, this must have been something on my side.

Tested with Starcounter 2.1.1527 and Launcher `master` in Chrome, FF, Edge.

[2016-03-24 14:34] #205 closed

[2016-03-24 14:35] tomalec commented on #207
I don't ;)
As, then we will need to modify light dom structure and move elements one
level above according tomodel attached. What will make it quite
inconsistent. Will require us to do everything on attached rather than on
created. Plus it will give an opportunity to an app to opt out from
Launchers layout in non documented, hard to explain way.

I would rather suggest that ´starcounter-include´ w

[2016-03-25 13:21] miyconst commented on #207
I just want to let people use our Launcher without using the editor.

This is the case for SweOffshore. They want the launcher, do not want the editor with `juicy-tile-table`. And `juicy-tile-table` sets its `min-width` to the current available width by default, also adds some more client side files, code, etc.

[2016-03-25 16:38] tomalec commented on #207
Do they wat to disable juicy tiles for all partials or only theirs?
25 mar 2016 14:21 "Konstantin" <notifications@github.com> napisał(a):

[2016-03-25 16:46] miyconst commented on #207
All the partials. And I told Jens to just remove `launcher-include`, it works for now.

[2016-03-25 16:47] warpech commented on #207
level above according tomodel attached.

Why move elements? It is not moving, only attaching and detaching:

[code]

[2016-03-25 16:56] warpech commented on #207
Please clarify: do they want to disable the editor, or to disable `juicy-tile-table`?

`juicy-tile-table` with synchronised layouts is the only functionality that "Launcher's starcounter-include" provides over the regular "starcounter-include". If someone does not like `j-t-t`, then your solution is *the* solution, not a workaround.

What I am proposing here is that "Launcher's starcounter-include

[2016-03-26 11:09] tomalec commented on #207
as you wrote
[code]
If `hasLayout` it will be wrapped in `<juicy-tile-table>` if `!hasLayout` it will not. We stamp that in light DOM, so it will move elements from and in `j-t-t`.

What is more, your example requires Polymer's `dom-bind` inside and `dom-if` I really doubt if it's a good idea to add it there due to performance, debugging, workflow, and binding problems.

I like it too, and `juicy-

[2016-03-29 08:24] andwah opened #209 "How to: Settings"
Running apps:  Launcher v3.1.6, Sign-In 3.1.12 and [Warehouse](https://github.com/Starcounter/Warehouse)

When i click the "Gear" icon my settings is not shown:

![image](https://cloud.githubusercontent.com/assets/2656996/14101943/0c53c362-f598-11e5-9264-215d4eb9c132.png)

If i refresh the page it works:

![image](https://cloud.githubusercontent.com/assets/2656996/14101963/286dac16-f598-11e5-95df-

[2016-03-29 08:26] andwah commented on #209
And when i "sign in" i get this red text:

![image](https://cloud.githubusercontent.com/assets/2656996/14102051/aebefdb0-f598-11e5-940f-d3608859a301.png)

[2016-03-29 08:28] andwah commented on #209
And after clicking the "Gear" a couple of times i get this result.

![image](https://cloud.githubusercontent.com/assets/2656996/14102094/e45e7a0e-f598-11e5-8e6d-c79efb73e8d6.png)

[2016-03-29 09:58] miyconst opened #210 "Replace bootstrap theme with something without shadows"
The css shadows are not included in the element dimension and causes issues inside `juicy-tile-table` with default styles:

![image](https://cloud.githubusercontent.com/assets/6435556/14104186/0e655754-f5a4-11e5-882e-59f4e2786f10.png)

Possible replacements:

### Cosmo

https://bootswatch.com/cosmo/

![image](https://cloud.githubusercontent.com/assets/6435556/14104302/cd6a7af8-f5a4-11e5-94dc-27c40

[2016-03-29 10:19] warpech commented on #210
Yeti theme has a glow on input focus. Doesn't it cause the scrollbars to appear?

<img width="440" alt="screen shot 2016-03-29 at 12 19 26" src="https://cloud.githubusercontent.com/assets/566463/14104917/81b66e2e-f5a8-11e5-8898-194ef2c4a173.png">

[2016-03-29 10:25] warpech opened #211 "Remove workspaces"
As discussed with @miyconst, current implementation of workspaces does not give any clear benefits and has some disadvantages:

1. It still requires a HTTP request to morph between workspaces, causing a workspace to rebuild each time it is switched
2. There is a limitation of one workspace per app, which doesn't make any sense (https://github.com/StarcounterPrefabs/Launcher/issues/161)
3. Workspac

[2016-03-29 10:40] warpech opened #212 "Conditionally skip wrapping of pages in Launcher"
Currently, Launcher wraps all pages. It should only wrap pages that want to be wrapped.

The current workaround is to use `SkipMiddlewareFilters`/`SkipRequestFilters` on handlers that should not be wrapped in Launcher. But this also removes automatic sign in by SignIn app.

The solution is to only wrap in Launcher pages that have Json property `Html` (`text/html` representation).

Long term soluti

[2016-03-29 11:18] miyconst commented on #210
Yes, it has outline for inputs, but this does not cause scroll bars and without the outline it still looks good. So, it can be removed with custom style overwrite.

![image](https://cloud.githubusercontent.com/assets/6435556/14106321/a05c2924-f5b0-11e5-9ebc-78c033cf96cf.png)

[2016-03-29 11:22] miyconst commented on #210
The **Cosmo** theme also has those shadows.

[2016-03-29 11:36] malx122 commented on #211
Actually workspaces is really good if used correctly. Our implementation when we had only one app (integrated launcher-apps) was more or less perfect since it "cached" apps in the background and disabled auti bindings while not displayed. For more intensive client apps like organizer (gantt) and actionboards this improves speeds when switching and we need that speed.

[2016-03-29 11:37] malx122 commented on #211
We also need it to not loose client data when switching back and forth. (You can't store everything in the URL)

[2016-03-29 11:39] malx122 commented on #211
So removing workspaces would cause our applications not to work as it is designed to at the moment.

[2016-03-29 13:58] aloscha opened #213 "Lanucher with Kitchensink return error "Cannot read property 'hasAttribute' of undefined""
After run Launcher with Kitchensink, please do steps:
1. Start Kitchensink with KitchenSink/Text
2. Go to Password tab, by clicking in menu
3. Go to Textarea tab, by clicking in menu

Now we have error
`polymer-mini.html:2061 Uncaught TypeError: Cannot read property 'hasAttribute' of undefined`

Now current page is frozen and we can't change it.

[2016-03-29 15:03] miyconst commented on #211
@malx122 removing workspaces does not mean removing view-state.

If your application saves JSON view-model in `Session.Data` then it will stay there as long as session lives.

The custom WebComponents are cached on browser level and are not imported twice. So, if a component was loaded with `<link rel="import" href="/sys/tunity/tunity-gunt" />` on a page load, then it won't be loaded again when yo

[2016-03-29 15:14] malx122 commented on #211
That the application saves the Json view-model is a minor detail. Just a few nonexpensive classes and all database calls that could be expensive is redone all the times anyways...

Loading and parsing webcomponents is expensive (especially on non-chrome browsers), but also not the issue I'm talking about.

Creating webcomponents can be very expensive and that is not cached if you remove the worksp

[2016-03-29 15:16] malx122 commented on #211
I do agree that the workspaces does not work well for the moment. But I'm quite sure there is some better solutions than scrap them. I will think about a solution tonight :)

[2016-03-29 15:43] warpech commented on #211
This is the penalty of having presentation logic, which should be kept to minimum. Thanks for bringing that point up! Of course some things (like scrollbar positions) cannot be delegated to server at all.

Actually since my recent change https://github.com/StarcounterPrefabs/Launcher/commit/1c1aec7d03e6d567ecc89f4dfa666bf0156e3eac inactive workspaces are removed from DOM anyway. Did you experience

[2016-03-29 15:44] warpech commented on #213
Reproducible for me with Chrome. @miyconst could you please take a look?

[2016-03-29 15:46] warpech commented on #213
This does not happen with KitchenSink standalone.

[2016-03-29 15:48] warpech commented on #210
How come it does not cause scrollbars? Doesn't box-shadow always trigger scrollbars?

[2016-03-29 15:50] miyconst commented on #210
It is not `box-shadow`, it is `outline`.

[2016-03-29 15:55] warpech commented on #210
In Yeti, it is definitely `box-shadow`:

<img width="1411" alt="screen shot 2016-03-29 at 17 53 46" src="https://cloud.githubusercontent.com/assets/566463/14114430/3848526e-f5d7-11e5-9f1f-62ba2779612e.png">

But maybe I am puzzled about this, and actually it is NOT `box-shadow` that causes scrollbars?

[2016-03-29 15:57] warpech commented on #209
What is the Starcounter and Launcher version that you are using? These problems were fixed last week.

[2016-03-29 16:06] andwah commented on #209
Launcher v3.1.6 and im using a local build of starcounter (over a week old).

[2016-03-29 16:09] warpech commented on #209
This is fixed in Launcher nightly. Please reopen if you still experience it after upgrading. Thanks!

[2016-03-29 16:09] #209 closed

[2016-03-29 16:23] malx122 commented on #211
Since we have our own version of launcher I havnt merged and tested #1c1aec7 yet. And now that I read about it I'm guessing that merge that one in is not an option either... That will most likely destroy all client data as well?

[2016-03-29 16:37] warpech commented on #211
Yes, switching workspaces will destroy the presentation data of Polymer elements, because of removing them from DOM.

How did you achieve disabling auto bindings with inactive workspaces?

[2016-03-29 16:40] malx122 commented on #211
Our "workspaces" was handled both at the server level and at the client level. So one "app" could have not just one but multiple workspaces and decide when to create, when to inactivate and when to destroy them.

[2016-03-29 16:45] malx122 commented on #211
The server part of that solution is actually still active in our apps. So one app could have multiple "workspace" inside its Launcher workspace. But its not used. (I was actually thinking of inactivate the auto bindings in our workspaces based on some static list in the common dll since it is shared between our apps but I havnt done it yet)

[2016-03-29 16:45] miyconst commented on #210
Looks like we mixed up two issues.

- The `box-shadow` property is not included in the box dimension, and being cut of by Shadow DOM container of juicy-tile.
- The tiles with `display: inline;` causes scroll bar.
- The `margin-bottom` property also causes scroll bar, often with `1px` in size.

[2016-03-29 17:02] malx122 commented on #211
Think I have a solution that would solve some of the problems with the launcher and apps, we can talk about it tomorrow after lunch.

[2016-03-29 17:10] miyconst commented on #213
For some reason resetting setup of a `juicy-tile-table` causes this error. This happens when a new partial loaded and setup set to `null` to refresh it.

The issue happens [here](https://github.com/Juicy/juicy-tile-list/blob/gh-pages/src/juicy-tile-list.html#L401):

[code]

The `tile.element` is undefined.

@tomalec could you take a look please?

---

@aloscha provide some more info when you repor

[2016-03-30 08:45] warpech opened #214 "Restore workspaces"
Follow up to https://github.com/StarcounterPrefabs/Launcher/issues/211

Changes made after Launcher 3.1.6 caused workspaces to be reloaded when switching from one workspace to another. This is causing reset of presentation state, which is unwelcome by applications developer.

Let's bring back the functionality that existed in Starcounter 2.1.177 + Launcher 3.1.6, which kept the initial state of th

[2016-03-30 08:46] warpech commented on #214
Later, I will also add Selenium integration tests for this

[2016-03-30 08:48] warpech commented on #211
Fair enough! Closing this issue and moving discussion to #214.

A feature of turning off workspaces can still be added. Launcher with "single workspace" setting set to ON would just remove previous workspace from the array in C#. But this is a matter for a separate issue.

[2016-03-30 08:48] #211 closed

[2016-03-30 09:10] warpech commented on #214
Work is done on a branch: https://github.com/StarcounterPrefabs/Launcher/tree/restore_workspaces

I think that HTML part is done, but there is still come problem with the C# part. Every `HTTP GET` with `Accept: application/json-patch+json` request causes a `replace` operation on the whole workspace.

The below gif illustrates the problem (see until the end, when the patch is presented). The red co

[2016-03-30 09:45] chrhol commented on #214
I will take a look. I wonder what have changed from the old version? If a workspace already exists it's reused in the Launcher so the problem must be somewhere inside Starcounter.

[2016-03-30 10:48] chrhol commented on #214
Found the reason. The internal handling of newly added siblings is to mark the main object (in this case the workspace json) as replaced and send the whole json.

This worked before due to that no siblings were changed, but after we added the callback a new sibling is always added on a merge.

I will add an issue in Starcounter to fix this somehow. We need to keep track of which siblings we had be

[2016-03-30 10:51] chrhol commented on #214
Just a note on this: On the server everything is reused, the replace happens on the client-side

[2016-03-30 10:55] chrhol commented on #214
https://github.com/Starcounter/Starcounter/issues/3465

[2016-03-30 10:56] warpech commented on #214
Great that you've found the problem. Looking forward the solution.

[2016-03-30 12:03] warpech opened #215 "Freeze bindings of inactive workspaces"
As @malx122 suggests in https://github.com/StarcounterPrefabs/Launcher/issues/211, inactive workspaces can be frozen from bindings by using `AutoRefreshBoundProperties` property of `Json`.

Anyone has something against this feature? It can be made configurable in Launcher settings.

[2016-03-31 13:06] warpech opened #216 "Replace juicy-redirect with puppet-redirect"
As @jwillmer pointed out in https://github.com/StarcounterSamples/UserAdmin/issues/12:

I think this is a bug. Launcher should use `puppet-redirect`. I will update it.

[2016-04-01 13:58] warpech commented on #106
I have written an article about using Selenium: http://starcounter.io/guides/web/acceptance-testing-with-selenium/

[2016-04-02 17:56] dan31 commented on #106
Awesome work @warpech!

[2016-04-03 18:37] tomalec commented on #213
I have add a fix to `juicy-tile-list` it's not perfect, and I didn't add tests, but once I will finish `<juicy-composer>` the scenario would be completely different, and this functionality & code will be moved there.

[2016-04-03 18:37] #213 closed

[2016-04-04 14:56] tomalec commented on #210
As https://github.com/Juicy/juicy-tile-table/issues/4 is fixed, and `juicy-tile-table` supports shadows for tiles gently. Do we still need this one?

[2016-04-05 18:39] warpech commented on #214
The fix is now up and running in Launcher `master` branch, including [tests](https://github.com/StarcounterPrefabs/Launcher/blob/master/test.bat).

@malx122 now workspaces again support preserving of presentation state (scrollbars, etc) and no longer rely on URL parsing to find the current workspace.

[2016-04-05 18:39] #214 closed

[2016-04-05 18:40] warpech commented on #197
@tomalec bump

[2016-04-06 10:08] tomalec commented on #197
I put it into http://starcounter.io/guides/web/partials/#example-2
However I think it's quite long there, do we have any collapsibles in our .io?

[2016-04-06 11:56] #197 closed

[2016-04-06 12:39] miyconst opened #217 "Add Cookie usage popup"
By EU law any website using cookies should tell about it.

[2016-04-06 12:39] miyconst commented on #217
Reported by @malx122.

[2016-04-06 13:38] warpech opened #218 "Removed paper-dialog, possibly other dependencies?"
@tomalec, it seems that in your commit  https://github.com/StarcounterPrefabs/Launcher/commit/6606846cd2983afd1c8b1325b31ecb30ffb8c999 you have removed some of the libraries that were actually used (at least `paper-dialog`).

Could you please check and restore what's needed?

Discovered today with @ubbeK

Screenshot:

![screen shot 2016-04-06 at 11 32 57](https://cloud.githubusercontent.com/assets

[2016-04-06 15:46] tomalec commented on #218
Ok, I thought those are some kind of legacy code, as were not mentioned in `bower.json`, an I just did regular bower cleanup.

[2016-04-06 15:51] tomalec opened #219 "Clean bower.json"
As it occurred at https://github.com/StarcounterPrefabs/Launcher/issues/218
We have some dependencies that are not saved in `bower.json`

We need to investigate the code and find those, to make `bower installs`, `update`, `prune` work consistently.

[2016-04-06 15:53] tomalec commented on #218
I have reverted my changes, to make code work, and created [bower cleanup issue](https://github.com/StarcounterPrefabs/Launcher/issues/219) to make it later, as I would like to focus now on composer, and predefined layouts

[2016-04-06 15:53] #218 closed

[2016-04-06 18:52] warpech commented on #218
Lesson to everyone: When putting client side packages to `/sys/`, always save it in `bower.json`

[2016-04-07 09:22] tomalec opened #220 "Double clicking on juicy-tile-table does not select it in the editor"
@malx122 reported that in Tunity App when the partial (and `juicy-tile-table`) is nested a little bit deeper, and takes the whole workspace area, when the editor is open double clicking in this area makes no effect.

@miyconst, Could you take a look?

[2016-04-07 09:49] tomalec commented on #220
It seems that we are finally able to click into, but we had to click many, many times.
Maybe we have an idea how to improve the experience of clicking into the tiles?

What about leaf to root direction?

[2016-04-07 10:05] warpech opened #221 "Release notes for Launcher 4.0.0"
I volunteer to write the release notes, then @tomalec and @miyconst can edit.

[2016-04-07 10:18] tomalec opened #222 "Import/export layouts"
@malx122 Requested a feature to import/export layouts for all partials, preferably by a button in the editor + automation tool.

I think automation tool could come from Starcounter CLI migration, as layouts are now stored in `Starcounter.Launcher`.

My doubt is whether we would like to put yet another control into editor that already suffers featuritis.
Maybe we can add it to Launcher's settings?

[2016-04-07 10:21] miyconst commented on #220
I thought of automatically scoping into a tile if it's a single tile on a level, but this rises a question, how to edit properties of this single tile.

[2016-04-07 10:22] malx122 opened #223 "Layout editor needs an higher z-index"
Not sure what z-index its on but its selections (in the workspace) gets hidden quite often in our application.

[2016-04-07 12:07] tomalec commented on #220
My proposition:
1. Select top most (leaf) node,
2. If designer would like to go level up, he/she can use breadcrumbs/keyboard shortcut, some 'level-up' button

I think usually you would like to style individual elements, not the huge blocks, that covers entire page.

[2016-04-07 12:11] miyconst commented on #220
Sounds good to me. I will implement such behavior, next week probably.

[2016-04-07 14:02] tomalec commented on #222
note: we already have something written at https://github.com/StarcounterPrefabs/Launcher/wiki/How-to-save-and-restore-layouts-(database-dump) but it's probably totally out of date.

[2016-04-07 17:37] tomalec commented on #181
I think got it.
@warpech when you were adding `launcher-include` into Polymer's notification flow, did you also covered notifying itself (inner `juicy-tile-*`)?
https://github.com/PuppetJs/puppet-polymer-client/issues/12
https://github.com/StarcounterPrefabs/launcher-include/blob/gh-pages/starcounter-include.html#L174

[2016-04-08 08:04] tomalec commented on #181
Sorry, that was me, who add notifications there  :no_mouth: I'll try to fix it before I leave for vacations

[2016-04-08 11:17] warpech commented on #221
I did my best: https://github.com/StarcounterPrefabs/Launcher/releases/tag/4.0.0

@tomalec and @miyconst please clarify where needed. I didn't go much in details regarding the layout editor, because the commit messages mostly only say "bower update".

[2016-04-08 11:18] warpech commented on #221
In my opinion release 3.1.7 can be removed.

[2016-04-08 16:01] tomalec commented on #181
Unfortunatelly, I didn't manage to do it today. I think making `starcounter-include` a Polymer element should solve this problem.

When nested partial is replaced as a entire object, it's not notified about PartialId and Layout changes.

Then when we make it as Polymer element we can use `observers: [ 'updatePartialId(partial.Launcher.PartialId)', 'updateLayout(partial.Launcher.Layout)' ]`

[2016-04-08 18:57] miyconst commented on #181
I would like to keep `starcounter-include` as a clean element, but if it is required to make as a Polymer element I am also fine.

[2016-04-11 08:13] warpech commented on #181
We are talking here only about making [Launcher's starcounter-include](https://github.com/StarcounterPrefabs/launcher-include) a Polymer element.

[2016-04-11 16:08] miyconst opened #224 "Invalid Workspace behavior with SignIn app"
Steps to reproduce:

1. Start Launcher and SignIn.
2. Navigate to `http://localhost:8080/signin/signinuser`.
3. Click on the `Registration` button.
4. The registration form should appear.
5. Click on the `Sign in` button.
6. **The page url changes, but the html remains.**
7. Click on the `Sign in` button again.
8. **The html changes, but Launcher creates another Workspace for SignIn app.**

cc @wa

[2016-04-11 16:09] warpech commented on #224
Thanks! Taking this on me for investigation

[2016-04-11 16:21] warpech commented on #224
Problem appears at point (3) of the above reproduction steps, because a new workspace is created after clicking on the "Registration" button.

Expected is for Launcher to reuse the existing workspace from the SignIn app.

[2016-04-11 16:26] warpech commented on #224
Actually the problem appears at point (1), because the initial response contains `AppName: "Launcher"`.

The expected value is `AppName: "SignIn"`

<img width="1434" alt="screen shot 2016-04-11 at 18 25 14" src="https://cloud.githubusercontent.com/assets/566463/14434384/c750802c-0012-11e6-8d8f-137f94801a09.png">

[2016-04-11 16:48] warpech commented on #224
I have perhaps the complete C# half of the fix (see the above commit).

Now additional workspaces are not created and the "Registration" button consistently does **not** work (step 7-8 work the same as step 5-6).

Tomorrow, among other tasks, I will further investigate the client side part of the solution. It might be related to https://github.com/StarcounterPrefabs/Launcher/issues/181.

Client si

[2016-04-12 08:30] warpech commented on #224
The problem is really similar to #181 - the `Html` property in `partial` does not get notified by Polymer, unless the whole partial is replaced.

This can only be implemented by one of the below:
1. converting Launcher's `starcounter-include` and `starcounter-include` to Polymer elements
2. waiting until Polymer implements https://github.com/Polymer/polymer/issues/1796 / https://github.com/Polymer

[2016-04-12 08:45] warpech commented on #224
Or maybe actually there is a 3rd way... Hang on!

[2016-04-12 08:49] warpech commented on #224
The reason why point (6) fails is that this `workspaces[0].Launcher.MergedHtml` is updated, but `workspaces[0].Html` is not. I will investigate more.

[2016-04-12 08:53] warpech commented on #224
@chrhol this is where I need your help. Could you please investigate?

[2016-04-12 09:09] warpech commented on #224
Why there is also a red rectangle around the value of `PartialId`? That's another good question. This value changes correctly when loading `SignInFormPage` and switching to `RegistrationFormPage`. But it does not change when loading `RegistrationFormPage` and switching to `SignInFormPage`.

[2016-04-12 09:12] miyconst commented on #224
@warpech I investigated patches coming from server, the was a patch for `MergedHtml`, but no patch for `Html` property, so it was not notification issue.

Maybe you already solved it, just to note.

[2016-04-12 09:15] warpech commented on #224
Both `starcounter-include` and Launcher's `starcounter-include` are reading at `Html` property. No client-side code is actually using `MergedHtml`.

[2016-04-12 09:22] miyconst commented on #224
But the `Html` property should be updated from server side, right? If there is no patch for the property, no updates.

[2016-04-12 09:23] warpech commented on #224
Yes, this is why I ask @chrhol to investigate this.

[2016-04-12 09:36] warpech commented on #181
I think there is a way to implement it only using `_notifyPath`, without converting to a Polymer element.

But there is a problem - I can't reproduce it. See the screen recording below. If I understand the problem correctly, the red background from "Product details" should be used for the "Product" heading when I morph to the products list.

How can I visually reproduce it with the Procucts app?

[2016-04-12 10:21] miyconst commented on #181
1. Start Products & Launcher apps.
2. Delete all layout styles by executing `DELETE FROM Starcounter.Layout`.
3. Add `background: red;` to the Products header `juicy-style`.
4. Open `http://localhost:8080/products`. **The header is red - correct.**
5. Click Add new product button.
6. **The header is also red - wrong.**
7. Click Cancel button.
8. **The header is no longer red - wrong.**

[2016-04-12 10:35] warpech commented on #181
I can confirm this is reproducible now. Thanks for the instructions!

Actually I don't think that the problem is in Launcher's `starcounter-include` anymore. On this branch [fix_SignIn_workspace_switching_224](https://github.com/StarcounterPrefabs/Launcher/tree/fix_SignIn_workspace_switching_224) the notification works properly. The line [starcounter-include.html#L141](https://github.com/Starcount

[2016-04-12 11:19] warpech commented on #181
I know what is going on. When Launcher's `starcounter-include` replaces the partial, `juicy-tile-list` executes the `createItemsList` method, which reads `juicy-setup` attributes from DOM.

BUT! The new partial is not yet asynchronously loaded, meaning the current DOM elements still represent the old partial, not the new partial.

The solution is to change `imported-template` to clear the previous

[2016-04-12 11:36] warpech commented on #181
The proposed fix is available for preview in the commit https://github.com/StarcounterPrefabs/Launcher/commit/4e9c8d588fffee14d0bec88dcf9d2887e5375356. @miyconst, @tomalec could you please review?

[2016-04-12 13:57] malx122 commented on #217
It actually says that user need to actively accept the use of cookies.

[2016-04-12 13:59] malx122 commented on #222
It actually only tells how to dump a WHOLE db and reload it in to a empty one. Nothing about import/export just the layouts.

[2016-04-12 22:00] miyconst commented on #181
When running apps on localhost, I don't notice any white space blinking, and even if there are some hard blinking, it is still better to have blinking and working solution than artifacts on the page.

[2016-04-12 22:02] miyconst commented on #224
@warpech your workaround seems to work, do you think we can merge it together with https://github.com/StarcounterPrefabs/Launcher/issues/181 to master?

[2016-04-13 09:26] warpech commented on #181
I will try a less invasive method that does not require changing `imported-template`.

I will just call `this.template.clear()` before line: https://github.com/StarcounterPrefabs/Launcher/blob/d7a0fffb03c4204a77dc37fae8c0825ac89774a9/src/Launcher/wwwroot/sys/starcounter-include/starcounter-include.html#L138

[2016-04-13 10:34] warpech commented on #224
`master` branch updated with work in progress of changes to Launcher's `starcounter-include`. The client-side workaround bypasses the problem described in #224.

This issue is still not solved, because server does not always send patches about changed `Html` and `Launcher.PartialId` (see https://github.com/StarcounterPrefabs/Launcher/issues/224#issuecomment-208798948 and https://github.com/Starcou

[2016-04-13 10:35] warpech commented on #181
`master` branch updated with work in progress of changes to Launcher's `starcounter-include`. The only missing part is to write tests and release through bower.

[2016-04-13 10:39] chrhol commented on #224
This is the problem. The `Html` property is currently added as a hack in the serializer when sending all siblings. So there is no property to send a patch for when parts of the merged html changes.

My other change, that we only update the changed parts for siblings as well, instead of sending everything every time, had this unfortunate consequence.

We really need to sit down and see how we can s

[2016-04-13 12:51] malx122 commented on #224
This issue is creating a lot of problem for us right now. Not only with SignIn, but with a lot of apps. It's so severe that I would actually give it highest priority!

[2016-04-13 13:17] miyconst commented on #210
@tomalec thank you for the fix, I don't think we need to change the theme right now. Closing the issue.

[2016-04-13 13:17] #210 closed

[2016-04-13 13:41] chrhol commented on #224
Have you tried the workaround from @warpech? I will submit the fix with incorrect AppName and that will solve the PartialId problem. With these two things in place it seem to work again.

[2016-04-13 16:24] warpech commented on #181
This is fixed in Launcher 4.0.1

[2016-04-13 16:24] #181 closed

[2016-04-13 16:35] warpech commented on #224
With today fixes made by me (released in Launcher 4.0.1) and made by @chrhol (released as next nightly after 2.1.1742) the problem is not reproducible anymore.

@chrhol since the problem still remains in `htmlmerger` (which affects apps when Launcher is **not** running), could you please open an issue about that? And then close this one.

I have opened an issue about possibility of removing `htmlm

[2016-04-14 00:33] alemoi commented on #194
I think I fixed this a while ago by introducing `Request.HandlerAppName`, as I remember @chrhol even tested this and its used in Launcher now. Added a sentence in documentation as well.

[2016-04-14 00:33] #194 closed

[2016-04-14 08:05] miyconst commented on #181
I confirm, the issue is solved. Thank you @warpech.

[2016-04-14 08:28] ubbeK commented on #224
Just tested the Registration - SignIn bug while testing [SignIn Issue 22](https://github.com/StarcounterSamples/SignIn/issues/22) and it has been fixed with the nightly build 2.1.176

[2016-04-14 08:36] miyconst commented on #224
I confirm the fix.

@warpech, @chrhol - thank you for fixing.
@ubbeK - thank you for testing.

Closing the issue.

[2016-04-14 08:36] #224 closed

[2016-04-14 11:40] warpech opened #225 "Remove `launcher-main`"
Launcher contains a custom element [`launcher-main`](https://github.com/StarcounterPrefabs/Launcher/blob/master/src/Launcher/wwwroot/Launcher/elements/launcher-layout/launcher-main.html) that extends `body`. I think there is no benefit in it. There are drawback like code obfuscation and performance penalty.

I think that this custom element should be removed and the code should be inlined in `Laun

[2016-04-14 11:41] warpech opened #226 "Apply BEM to Launcher's private CSS"
**This is a sensitive task, because it is likely to break our partners' forks of Launcher. We need to do it with great care, possibly after code stabilises (there are no other changes in Launcher in more than a month).**

This app contains globally applied CSS rules in stylesheets: https://github.com/StarcounterPrefabs/Launcher/blob/6838591ab2d910bd759ba1ae091d7ac28e0030c3/src/Launcher/wwwroot/Lau

[2016-04-19 05:54] malx122 commented on #222
What is the status of this?

[2016-04-22 11:09] miyconst opened #227 "Launcher does not react on Html property change of a partial"
I have an app which changes Html of a partial. The change is not reflected in both merged `Html` property and `Launcher.MergedHtml`.

![image](https://cloud.githubusercontent.com/assets/6435556/14739945/51a422da-088b-11e6-8037-d27842e9ae8b.png)

cc @warpech, @chrhol

[2016-04-25 06:52] warpech commented on #227
I need to pass it on to @chrhol, because that looks like a Starcounter issue (`Html` and `JsonResponseMerger.RegisterMergeCallback`). Could you post a link to code that reproduces the problem?

[2016-04-26 13:27] warpech commented on #221
Closing

[2016-04-26 13:27] #221 closed

[2016-05-03 12:24] #216 closed

[2016-05-06 14:30] miyconst opened #228 "Launcher uses imported-template to display User section"
With the latest changes in html merger we are no longer able to use `imported-template` for showing merged partials.

We should do one of:

- Improve `imported-template`.
- Replace `imported-template` with `starcounter-include`.
 - Add possibility to provide default first break point value.
 - Add possibility to apply layout styles in the Launcher's header.

cc @warpech, @tomalec

[2016-05-06 14:55] tomalec commented on #228
You mean that you are not able to provide URL for merged partial to `imported-template`, don't you?

If it means moving out `htmlmerger` URL magic there, I vote for no.

For me it's not the worst thing to choose. However, then we will disable the possibility to opt-out from Launcher/Starcounter layouts for partials

- Add possibility to apply layout styles in the Launcher's header.

Could you elab

[2016-05-06 15:25] miyconst commented on #228
Right now `juicy-tile-table` got the first break point value as the window size. Which causes terrible design glitches when it's inside the "User" section which usually is not bigger than `300px`.

Right now it's not possible to use Layout editor to edit `juicy-tile-table` inside the header. I remember, at some point it was decided to enable the editor for content only.

[2016-05-06 16:04] tomalec commented on #228
1. Add possibility to provide default first break point value.

    How would like to set it up?

2. Add possibility to apply layout styles in the Launcher's header.

   By the "header" do you mean Launchers top bar? If so I see no reason for blocking it. @warpech any thoughts?

[2016-05-06 16:07] miyconst commented on #228
For example:

[code]

[2016-05-06 16:08] miyconst commented on #228
Yes, and I also don't see a reason for blocking it, just another piece of work.

[2016-05-06 16:15] tomalec commented on #228
1. I like the concept of providing hints in markup, but the problem with you proposition is when it

  `<starcounter-include>` is also a tile
[code]
then `juicy-style` stands for `width` for the tile. Not for the "first breakpoint of `juicy-tile-table` inside `<starcounter-include>` (if any)"

2. :+1:

[2016-05-06 16:18] miyconst commented on #228
1. I know, but I don't have any better option, and the issue should be solved somehow. Why the value can't mean both? The width of the tile, and the first break point for the `juicy-tile-list` inside?

[2016-05-06 16:28] tomalec commented on #228
The width of the tile could be `50%` but first break point could not. Moreover, in desired solution we will have multiple breakpoints per element.

You said

Is it really **window** size? At the beginning it was **element** size, which should make more sense if no setup given. Plus if you have set `juicy-style` or size of enclosing element like
[code]
then the `<juicy-tile-*>` inside `<starcounter

[2016-05-06 16:33] miyconst commented on #228
Okay, I double check that, but it didn't work for me that way.

[2016-05-06 16:44] tomalec commented on #228
If it does not work that way, it's a `<juicy-tile-*>` bug

[2016-05-06 23:41] tomalec commented on #228
I believe, at https://github.com/StarcounterPrefabs/Launcher/commit/16f4415cd463db9420e857b7dd1a3b1c690e5c74 I have provided a fix for OP.

As I replied https://github.com/StarcounterPrefabs/Launcher/issues/228#issuecomment-217464747 the problem was to " provide URL for merged partial to `imported-template`".

In Launcher we are sure, that Launcher is running, so that there is `partial.Launcher.Me

[2016-05-07 00:06] tomalec commented on #225
I have created with "Everything is an element" attitude, to separate our styling div soup, from meaningful content of Launcher and apps.

But, you are probably right that this is just 3 `div`s and 25 lines of CSS - not much to hide - for a cost of HTML import, shadow DOM and custom element (especially polyfilled).

I just dream of a perfect Starcounter suite markup  :heart_eyes:
[code]
with almost

[2016-05-07 09:19] miyconst commented on #228
@tomalec thank you for the fix, let's close this issue.

In MM we don't need the layout info, and `<starcounter-include>` can be used without issues.

[2016-05-07 09:19] #228 closed

[2016-05-09 07:21] miyconst opened #229 "More than one workspace is active at a time"
Steps to reproduce:

- Start Launcher, SignIn, Warehouse, WarehouseClient
- Open /launcher
- Click Warehouse menu item
- Click on "Registration" button
- Click on Warehouse Client menu item

![image](https://cloud.githubusercontent.com/assets/6435556/15106129/6e27efb0-15c7-11e6-861f-c1d7b86ac60d.png)

![image](https://cloud.githubusercontent.com/assets/6435556/15106091/256c3a7e-15c7-11e6-99d7-970f

[2016-05-09 08:33] miyconst commented on #229
This seems to be server side patch generator issue. Here is entire server response for `/WarehouseClient`:

[code]

The patch adds a new work-space and updates the first one, but should update the second one.

![image](https://cloud.githubusercontent.com/assets/6435556/15107577/c9bc1ac8-15d0-11e6-8ae9-8d89ea26168a.png)

[2016-05-09 08:34] miyconst commented on #229
@chrhol take a look please.

[2016-05-09 08:47] chrhol commented on #229
I will investigate a bit later today.

[2016-05-09 11:22] warpech commented on #225
For me, it only makes sense to use Custom Elements for custom presentation logic.

If we use Custom Elements to encapsulate styles (like `launcher-main.html` does), this just brings questions: "Do I have to do it this way?", "How do I style customize it?", "Am I allowed to touch `launcher-main.html`"?

[2016-05-10 10:25] miyconst commented on #227
We should no longer rely on `Launcher.MergedHtml` property. Closing this issue.

[2016-05-10 10:25] #227 closed

[2016-05-10 10:26] miyconst opened #230 "Update Launcher so it does not include LayoutInfo for the partials without Layout"
Launcher should not replace it's response for Menu, User, Dashboard sections with LayoutInfo, as those partials suppose to be without layout editor.

[2016-05-10 10:28] miyconst commented on #230
Makes sense after https://github.com/StarcounterPrefabs/launcher-include/issues/12.

[2016-05-10 12:59] tomalec commented on #225
:+1: Thx, now I feel 100% convinced to do it :)

[2016-05-11 07:56] warpech commented on #215
This may be hard, but let's see how it goes for you @joozek78!

In Launcher solution, there is a Launcher app are two helper test projects (Launcher_AcceptanceHelperOne & Launcher_AcceptanceHelperTwo).

Start Launcher and Launcher_AcceptanceHelperOne and Launcher_AcceptanceHelperTwo. You should see these two helper apps in the left menu. When you visit them in the menu, this will create a workspac

[2016-05-16 10:22] miyconst opened #231 "Update Launcher/sys/ folder with latest components"

[2016-05-16 10:26] miyconst commented on #231
We have not updated polymer dependencies for long time. I will do so.

[2016-05-16 11:14] miyconst commented on #231
Updated. All the tests pass.

cc @warpech, @ubbeK, @aloscha

[2016-05-16 11:14] #231 closed

[2016-05-18 10:15] malx122 commented on #223
Is this fixed?

[2016-05-20 14:13] warpech opened #232 "Highlight the recently added elements"
When I see a partial for a first time (after installing/reinstalling an app), I would like Launcher to emphasise its elements for me with some highlight animation.

This is a very nice effect for the demo.

@tomalec any idea how we can do it?

[2016-05-20 16:09] tomalec commented on #232
it depends on what you mean by "see a partial for a first time":

If it is

## 1.

Then this would be extremely annoying for end users (non-designers, non-devs)

## 2.

I would rather think of

I think It would be nice for all: end-users, devs, and layout designers. We (`<starcounter-include>`) could do simple fade-in, fade-out of a partial highlight (`box-shadow`), on `change` event triggered by

[2016-05-24 07:43] malx122 commented on #173
What is the status on this one?

[2016-05-25 12:01] warpech commented on #106
Closing, as there are Selenium tests now in Launcher: https://github.com/StarcounterPrefabs/Launcher/tree/master/test/Launcher_AcceptanceTest

[2016-05-25 12:01] #106 closed

[2016-05-25 12:16] warpech commented on #103
@tomalec seems that our recent idea is not that new :)

[2016-05-25 12:17] warpech commented on #231
Good job, thanks!

[2016-05-25 21:49] tomalec commented on #103
Yep :) I try to keep my ideas an proposition consistent with all vital constraints we provided so far.

[2016-05-27 08:58] warpech commented on #215
The solution is missing tests. The test should directly bind to PuppetJs's callback `onRemoteChange` to check what patches are (not) received from the server.

[2016-06-02 08:43] miyconst commented on #217
The popup has been added:

![image](https://cloud.githubusercontent.com/assets/6435556/15739087/b389fe96-28ae-11e6-91ea-d5cca77babf9.png)

@warpech, @dan31 any changes to the words? Right now it is:

[2016-06-02 11:27] miyconst commented on #229
@chrhol did you have a chance to take a look?

[2016-06-02 11:31] chrhol commented on #229
Yes, but I can't remember what I found, and then I forgot about it and did not comment :disappointed: I need to go back to it again.

[2016-06-02 13:35] chrhol commented on #229
I went back to this issue, and found a couple of bugs in Starcounter. The first one I fixed, but the other one is a bit more difficult to fix (or understand). Somehow, due to siblings on different levels, the wrong patch is generated. I will have to spend some time on this one.

[2016-06-02 13:38] miyconst commented on #229
It would be good to fix it before the next stable release.

[2016-06-02 19:58] warpech opened #234 "Remove forced Shadow DOM"
Remove forced Shadow DOM in Polymer in https://github.com/StarcounterPrefabs/Launcher/blob/6f16061feb5e855938d6ec7ee524bc8654ffde4d/src/Launcher/wwwroot/Launcher/viewmodels/LauncherTemplate.html#L8-L11

This is a subtask of https://github.com/Starcounter/Starcounter/issues/3562

[2016-06-02 21:07] warpech commented on #217
Are you sure about this? See: https://econsultancy.com/blog/63118-17-useful-examples-of-eu-cookie-law-compliance/

I would actually change it to: "This application uses cookies to enhance your experience. By continuing to use this website you accept the [cookie policy]."

And the cookie policy should be a link to a (configurable) text page.

I think that this should be configurable on the Settings

[2016-06-02 21:22] warpech commented on #217
Does Launcher actually use persistent cookies? I guess only SignIn and UsageTracker apps uses persistent cookies right now?

I think that "Cookie Consent" would be a great separate **micro app** with the following configurable options on the Settings page (which can be cloned from the Images app):

- Show cookie consent (checkbox)
- Cookie consent short text (textarea, with HTML allowed). The shor

[2016-06-03 07:00] miyconst commented on #217
Totally agree. I do that.

[2016-06-03 09:02] chrhol commented on #229
Added comment in other issue https://github.com/Starcounter/Starcounter/issues/3680#issuecomment-223527997

[2016-06-03 10:05] miyconst commented on #217
@malx122 I have made another app [CookieConsent](https://github.com/StarcounterPrefabs/CookieConsent) please take a look and let me know whether it's what you needed.

[2016-06-22 07:07] tomalec commented on #222
@miyconst, @andwah  Do you think we can implement such thing in administrator?
This is f the last things blocking Tunity from adopting the new Shadow DOM layouts

[2016-06-22 07:07] tomalec commented on #222
//related https://github.com/Starcounter/Starcounter/issues/2833

[2016-06-22 09:38] miyconst commented on #222
Some time ago it was agreed to add the Database Editor app into the administrator. The app should have import/export tools.

I don't think it's a good idea to add this particular feature to the administrator itself.

[2016-06-23 09:35] tomalec commented on #222
As far as I understood they need some kind of deployment tool.

@malx122, could you take a look at Database Editor and check if "export" button at http://localhost:8080/databaseeditor/tables/Starcounter.Layout is more or less what you need?

@miyconst, Is it finished? I get an error
[code]
when trying to export layouts.

[2016-06-24 16:17] warpech commented on #232
I meant 2.

3 is a nice idea, but out of scope of this issue.

[2016-06-24 21:28] tomalec commented on #232
Then would you also like to see this (Launcher-specific) effect for new elements added to partial (via app - not neccesarily by starting/stoping)?

[2016-06-27 10:46] warpech commented on #232
Can you add a simple use case?

Use case for my scenario in the OP is:

1. In Launcher, I am seeing a merged partial from 2 apps
2. I go to the app store and start a 3rd app
3. I go back to my merged partial which is now composed of 3 apps
4. The elements added from the 3rd app are highlighted with animation

[2016-06-27 12:22] tomalec commented on #232
The use case [I asked about](https://github.com/StarcounterPrefabs/Launcher/issues/232#issuecomment-228466471):

1. In Launcher, I am seeing a merged partial from 2 apps (A, B)
2. I perform some action, that makes app A add another root element to the partial content

3. App A adds new element => the element is added to (via `<starcounter-include>`) to the `juicy-composition`
4. The element added

[2016-07-04 13:40] warpech commented on #234
Done in https://github.com/StarcounterPrefabs/Launcher/commit/2886d9b746917eb953a051601d40178f5077085e

[2016-07-04 13:40] #234 closed

[2016-07-04 13:41] warpech commented on #225
Done

[2016-07-04 13:41] #225 closed

[2016-07-04 13:44] warpech commented on #219
@miyconst could you please take this?

[2016-07-04 13:44] warpech commented on #217
@miyconst can this be closed?

[2016-07-04 13:46] warpech commented on #203
@joozek78 assigning this on you, cause you are already working on bunch of related things.

[2016-07-04 13:46] miyconst commented on #217
I think so, but @malx122 should confirm.

[2016-07-04 21:53] tomalec commented on #219
I did actually some clean up recently in juicy-composition branch, so you can double check it there.

[2016-07-06 05:29] warpech commented on #223
This is fixed now. Thanks for reporting.

[2016-07-06 05:29] #223 closed

[2016-07-07 18:44] warpech opened #235 "Fix or remove ::shadow styles"
As discovered by @tomalec in https://github.com/Starcounter/Starcounter/issues/3562#issuecomment-231155935:

https://github.com/StarcounterPrefabs/Launcher/blob/2886d9b746917eb953a051601d40178f5077085e/src/Launcher/wwwroot/Launcher/css/style.css

I removed the styles at  https://github.com/StarcounterPrefabs/Launcher/blob/2886d9b746917eb953a051601d40178f5077085e/src/Launcher/wwwroot/Launcher/css/s

[2016-07-07 18:54] warpech opened #236 "Make Launcher themable"
Yesterday I was speaking to @jwillmer about how could he could adapt our default Launcher it to the desired looks. I think that it would be enough to overwrite the `LauncherTemplate.html` and `style.css` some way.

Some possible solutions:

1. Make the URLs to `LauncherTemplate.html` and `style.css` configurable in Launcher Settings.
2. Use the `Content` app to overwrite the response at URLs `/Lau

[2016-07-08 07:32] tomalec commented on #236
I vote for 3.

Then you can install them fro appstore easily.
7 lip 2016 20:54 "Marcin Warpechowski" <notifications@github.com>
napisał(a):

[2016-07-08 08:07] miyconst commented on #235
It looks like those are very old styles introduced by @tomalec in this commit: https://github.com/StarcounterPrefabs/Launcher/blame/d38f5b3f20475866b51f4655cde9f6389bf09df3/wwwroot/Launcher/css/launcher-main.css.

I also can't find what are they for. The styles removed.

[2016-07-08 08:07] #235 closed

[2016-07-08 09:20] warpech commented on #236
Thank you for your input!

@malx122, @jwillmer, any comments?

[2016-07-08 09:29] jwillmer commented on #236
The changes I did in the Launcher consists of:

- HTML structure and additional starcounter icludes
- CSS
- JSON additions (user.Position)
- ViewModel additions (user.Position query)

With which solution you like to decouple it from the launcher development I really don't care as long as the process does not change constantly (breaking changes) and I don't need to touch/merge the launcher.

[2016-07-08 09:59] tomalec commented on #235
If I recall correctly it was to style paper checkboxes and radios in Filter view, which no longer exists

[2016-07-08 10:09] warpech commented on #235
Thanks!

[2016-07-13 14:11] warpech opened #237 "Show stack trace in the disconnection modal"
When an uncaught exception occurs on the server, a modal window appears. This modal window should include the actual text of the exception (comes as the HTTP Patch response and WebSocket disconnection reason)

![2016-07-13 16_10_20-launcher](https://cloud.githubusercontent.com/assets/566463/16806357/7df956f6-4914-11e6-8a90-1e92e06efa5f.png)

[2016-07-14 13:35] warpech commented on #212
The solution is to add a Settings page with Regular Expression for excluded app URLs

@aloscha this is what your are doing on branch: https://github.com/StarcounterPrefabs/Launcher/blob/Bypass_launcher_for_apps

[2016-07-14 13:53] warpech opened #238 "Duplicate Launcher namespace in JSON in case of own responses"
When there is an own response from Launcher, the merged JSON actually contains two Launcher responses on the same level:

1. Launcher's own response
2. Launcher's `LayoutInfo`

This results in an incorrect JSON:

[code]

I think that this needs a short term workaround in Launcher.

But really an immediate fix in Starcounter (see https://github.com/Starcounter/Starcounter/issues/3573) would be bett

[2016-07-15 12:13] warpech commented on #238
Fix in progress in PR: https://github.com/StarcounterPrefabs/Launcher/pull/239

[2016-07-15 12:13] warpech commented on #212
Fix in progress in PR: https://github.com/StarcounterPrefabs/Launcher/pull/239

[2016-07-19 15:11] aloscha commented on #238
Fixed. New version on master.

[2016-07-19 15:11] #238 closed

[2016-07-19 15:12] aloscha commented on #212
Fiexed on master.

[2016-07-19 15:12] #212 closed

[2016-07-19 15:18] warpech opened #240 "Create a full-page sign-in form"
In many business systems, it is not desired to load the app UI for an anonymous user.

There should be a setting (on the Settings page) to enable a full page sign-in form (which will be populated by the SignIn app, if it's running.

[2016-07-19 15:19] miyconst commented on #240
This should be an issue for Dimitris when he comes. Assigning the issue on me for now.

[2016-07-27 12:17] miyconst commented on #230
Closing as no longer valid.

[2016-07-27 12:17] #230 closed

[2016-08-08 13:28] joozek78 commented on #203
I think it's connected to PuppetJs/puppet-redirect#3

[2016-08-09 12:55] joozek78 commented on #215
https://github.com/StarcounterPrefabs/Launcher/pull/241

[2016-08-10 12:06] #215 closed

[2016-08-17 11:01] miyconst commented on #240
@Joltrix take a look at this issue. It should be an enhancement to the Launcher.

The main idea is that Launcher should be able to request login to access any page, and setting to enable/disable this feature.

The actual page should be loaded once user signed in, and not loaded and then hidden by Launcher.

[2016-08-17 11:02] miyconst commented on #240
Please create another branch from `master` and work there. Once done rise a pull request.

[2016-08-25 13:02] warpech commented on #217
@miyconst can the following line be removed from Launcher?

https://github.com/StarcounterPrefabs/Launcher/blob/bfaee5b665e4c4081b7bca0c28b254c5e3fa62e1/src/Launcher/wwwroot/Launcher/css/style.css#L285

[2016-08-31 09:37] Joltrix opened #242 "Adding fields breaks layout for existing fields"
@tomalec

When you change one of the values on the custom fields, it breaks the layout as the content is refreshed.
The same thing happens when you add a field, be it custom, phone number, address or email. The layout for the existing fields becomes distorted as can be seen on the gif provided by @warpech

![screen](https://cloud.githubusercontent.com/assets/566463/18123388/e221de58-6f6d-11e6-8647

[2016-08-31 11:16] tomalec commented on #242
Reported at https://github.com/StarcounterSamples/People/pull/40#issuecomment-243708614

[2016-09-01 07:11] Joltrix commented on #242
@tomalec

When you say blank page, you mean you can't see anything at all :o?

Cause, it can be reproduced in both develop, feature/people-improvements and feature/further-enhancement, those 3 I am sure of, I haven't tried any of the other builds.

But i suspect that you can't reproduce it on the Master build. I think the issue arose when @warpech fixed the Layout, because when the layout gets "br

[2016-09-01 14:57] tomalec commented on #242
That is all I can see with:
- Starcounter: 2.2.1.3004
- StarcounterPrefabs/Launcher@9c506c66a6c
- StarcounterSamples/People@e784dbfce

![image](https://cloud.githubusercontent.com/assets/17435/18172243/f88aec96-7064-11e6-8f54-ac046c0165d4.png)

[2016-09-01 15:01] Joltrix commented on #242
I dont know if it will make a difference, but I also start SignIn and UserAdmin, and log in ad admin/admin

[2016-09-01 15:32] tomalec commented on #242
Probably it does, however even after I run those I cannot login as admin/admin.

BTW, @warpech do we really want People app show blank page without a single message for not logged in users?

[2016-09-01 15:48] tomalec commented on #242
My bad, I missed https://github.com/StarcounterSamples/People#installation-instructions

[2016-09-01 16:09] warpech commented on #242
No, we don't really want that. @joozek78 is working on more clever authentincation and authorization scheme. Then we can decide how to actually inform a user that they need to log in.

[2016-09-01 22:48] tomalec commented on #242
I have identified the problem, it was a bug in `starcounter-include` https://github.com/StarcounterPrefabs/launcher-include/issues/18 (fix is ready, I just need to add some tests).

It also showed up because of the fact People app replaces entire table instead of pushing one element. That's not the reason but I would also call it a bug https://github.com/StarcounterSamples/People/issues/42

[2016-09-02 10:26] warpech commented on #242
Thanks!

[2016-09-02 10:29] warpech commented on #237
This is now done on `develop` branch

[2016-09-02 10:29] #237 closed

[2016-09-02 10:30] warpech commented on #219
Seems fixed on `develop` branch

[2016-09-02 10:30] #219 closed

[2016-09-12 09:44] warpech commented on #242
@tomalec was the solution released with Starcounter?

I can still reproduce it at http://inside.starcounter.com/, which is using Starcounter 2.2.1.3133 and Launcher 5.0.0-develop.2

Can you pls take a look?

[2016-09-12 10:28] tomalec commented on #242
Could you provide credentials for http://inside.starcounter.com/people/persons ?

[2016-09-12 13:07] tomalec commented on #242
So it seems either it's not this version of Starcounter or some other app overwrites the `starcounter-include` as the [one from `/sys`](https://github.com/Starcounter/Starcounter/blob/develop/src/BuildSystem/ClientFiles/StaticFiles/sys/starcounter-include/starcounter-include.html) is 1.3.0 but the one at http://inside.starcounter.com/sys/starcounter-include/starcounter-include.html is just 1.0.1

[2016-09-12 13:59] warpech commented on #242
This was my bad. `Launcher 5.0.0-develop.1` package included outdated `starcounter-include`.

I have re-released the package and updated http://inside.starcounter.com/

Works OK now

[2016-09-12 13:59] #242 closed

[2016-09-23 10:52] warpech commented on #217
Ping

[2016-09-23 13:00] miyconst commented on #217
@warpech sorry for missing your question. It is removed now.

[2016-09-26 08:41] warpech commented on #217
Thank you. I think this can be closed now

[2016-09-26 08:41] #217 closed

[2016-09-26 08:42] warpech commented on #217
@miyconst when you make changes to a `master` branch, and a `develop` branch exists as well, please merge `master` to `develop` afterwards.

[2016-09-26 12:49] tomalec commented on #202
Currently launchpad is not editable, as it uses old juicy-tile-* driven layouts, and the editor applies to new composition.

So we have two ways to go:

1. Make it absolutely non editable, and rewrite launcher-launchpad to hardcode decorating marlup for icon and name,
2. Make it editable by changing launcher-launchpad to use composition driven layouts and add support in imported-tempalte for decor

[2016-09-26 13:01] warpech commented on #202
Thanks for explaining. Since this can wait some time, I am unassigning you

[2016-09-26 13:25] warpech opened #243 "Update testing information"
Update testing information - there is Selenium test and npm test.

Future consideration: test.bat should start both tests.

[2016-09-26 13:27] tomalec commented on #243
If npm test does require some dependencies or pre-steps, like installing and running app, it would be great to have it written in npm dependencies and script.

[2016-10-08 12:57] mmnosek opened #244 "Highlighting active page/app link in a menu"
As we are developing more and more complex apps it would be nice to have a possibility to highlight a links in a menu to make the whole navigation more clear. It is a common practice in many kinds of applications. Adding css for `active` links is not the solution, because clicking on menu elements is obviously not the only way to changing active pages.
Most of page changes/redirections are done by

[2016-10-15 15:53] tomalec commented on #244
That's the problem that we were struggling for quite long.

I really like the idea of a custom element listening to `window.location`
changes. I would think of  `launcher-menu`.

[2016-10-23 12:45] mmnosek opened #245 "Allow Admins to change page title in settings"
Currently page title is fixed in Launcher HTML and it is always just "Launcher". It doesn't look like something production-ready from the enduser point of view. As our Launcher should be a basis to create complex systems out of the Prefabs and other vendor's apps, I think that it is necessary to allow administrators of apps running together with Launcher to change it's title.

My proposal is exact

[2016-10-25 09:01] atifwaqar opened #246 "Pages not changing in Latest Launcher build"
SC Version 2.2.2.3422
Launcher Version with bug : 5.0.0 (Oct 7, 2016 2:40:59 AM)
Launcher Version without bug : 5.0.0-develop.1 (Sep 12, 2016 1:01:31 PM)

Behavior with Launcher V-5.0.0 (Oct 7, 2016 2:40:59 AM)
Step 1 (open dashboard) :
![image](https://cloud.githubusercontent.com/assets/4388707/19679381/d4ce9d54-9aa1-11e6-8ca6-fedff777be59.png)

Step 2 (Clink on any page link from left panel) :
!

[2016-11-02 09:26] warpech commented on #243
This information should be added to CONTRIBUTING.md

[2016-11-03 10:31] miyconst commented on #220
Closing as no longer relevant.

[2016-11-03 10:31] #220 closed

[2016-11-09 13:03] warpech opened #248 "Make Launchpad and Settings page"
Right now, Launchpad and Settings page are showed as `CurrentPage`. This should be changed to use regular workspace instead.

Spotted by @malx122

[2016-11-16 11:27] warpech opened #249 "Release a version of Launcher into the new Warehouse"
Release a version of Launcher into the new Warehouse

- [x] Check if Launcher `develop` is safe to merge to `master` (using TeamCity - [instructions](https://github.com/StarcounterPrefabs/Guidelines/blob/master/continuous_integration.md))
- [x] Merge Launcher `develop` to `master`
- [x] Package the version Launcher 5.0.1 using `starpack`
 1. if your installation of Starcounter doesn't have `starpa

[2016-11-16 13:32] warpech commented on #249
I will check if all these steps are performable.

Step 1 is performable. @Mackiovello can you please perform that?
I will check if Step 3 is performable

[2016-11-16 14:27] warpech commented on #249
Checkbox 3 is performable.

I am stuck at Checkbox 4 with the error:

Checking with @andwah

[2016-11-16 14:30] andwah commented on #249
the `Launcher` was was previous uploaded with a different namespace `Launcher.Launcher`  and now you are trying to upload a new `Launcher` with a new namespace `StarcounterSamples.Launche`  in "old" `Launcher`

[2016-11-16 14:31] warpech commented on #249
but how do I control that? how did you upload "Launcher.Launcher"?

[2016-11-16 14:32] andwah commented on #249
you can overide the "namespace" by adding this line in your project

`AssemblyInfo.cs`

[assembly: AssemblyMetadata("ID", "Launcher.Launcher")]

[2016-11-16 14:33] andwah commented on #249
BTW im thinking of renaming the property "namespace" to simple "ID" in a future version of the warehouse

[2016-11-16 14:34] andwah commented on #249
sorry it should be

`[assembly: AssemblyMetadata("ID", "StarcounterSamples.Launcher")]`

[2016-11-16 14:38] warpech commented on #249
I confirm that this works, thanks!

Checkbox 4 is now performable.

Checkbox 5 of course, too. Now giving the driving wheel to @Mackiovello to actually perform all these steps.

I will crete a Warehouse user account for @Mackiovello.